<!DOCTYPE html>
<html lang="en" data-ng-app="app" ng-controller="AppCtrl">

<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' gap://ready file://* *; connect-src * 'self' wss://s-usc1c-nss-127.firebaseio.com/.ws; img-src * 'self' data:; media-src * 'self' data:;script-src 'self' 'unsafe-inline' 'unsafe-eval' *; style-src  'self' 'unsafe-inline' *">
    <meta charset="utf-8" />
    <title>San Miguel de Allende Seguro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, <shrink-to-fit=no" />
    <link rel="apple-touch-icon" sizes="57x57" href="assets/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="assets/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/icons/favicon-16x16.png">
    <link rel="manifest" href="assets/icons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta content="¡Descarga San Miguel Seguro - Seguridad Personal, familiar y ciudadana" name="description" />
    <meta content="Sergio Iván Martell Arteaga" name="author"/>
    <!-- BEGIN Vendor CSS-->
    <link href="assets/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" />
    <link href="assets/plugins/bootstrapv3/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="assets/plugins/jquery-scrollbar/jquery.scrollbar.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="assets/plugins/ladda/dist/ladda-themeless.min.css" rel="stylesheet" type="text/css">
    <!--<link href="assets/plugins/croppie/croppie.css" rel="stylesheet">-->
    <link href="assets/plugins/ng-croppie/unminified/ng-croppie.css" rel="stylesheet">
    <link id="lazyload_placeholder">
    <!-- BEGIN Pages CSS-->
    <link href="pages/css/pages-icons.css" rel="stylesheet" type="text/css">
    <link class="main-stylesheet" ng-href="{{app.layout.theme}}" rel="stylesheet" type="text/css" />
    <!--[if lte IE 9]>
    <link href="pages/css/ie9.css" rel="stylesheet" type="text/css" />
    <![endif]-->
    <!--[if lt IE 9]>
    <link href="assets/plugins/mapplic/css/mapplic-ie.css" rel="stylesheet" type="text/css" />
    <![endif]-->
    <script type="text/javascript">
        window.onload = function() {
            // fix for windows 8
            if (navigator.appVersion.indexOf("Windows NT 6.2") != -1)
                document.head.innerHTML += '<link rel="stylesheet" type="text/css" href="pages/css/windows.chrome.fix.css" />'
        }
    </script>
</head>

<body class="fixed-header" ng-class="{
'bg-master-lighter': is('app.extra.timeline'),
'no-header': is('app.social') || is('app.calendar') || is('app.maps.vector') || is('app.maps.google'),
'menu-pin' : app.layout.menuPin || is('boxed'),
'menu-behind' : app.layout.menuBehind,
'box-layout' : is('boxed'),
'horizontal-menu': is('app.layouts.horizontal'),
'rtl' : is('app.layouts.rtl')
 }">
<div class="full-height" ui-view></div>
<!-- BEGIN VENDOR JS -->

<!-- JQUERY -->
<script src="assets/plugins/pace/pace.min.js" type="text/javascript"></script>
<script src="assets/plugins/jquery/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="assets/plugins/modernizr.custom.js" type="text/javascript"></script>
<script src="assets/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
<script src="assets/plugins/bootstrapv3/js/bootstrap.min.js" type="text/javascript"></script>
<script src="assets/plugins/jquery/jquery-easy.js" type="text/javascript"></script>
<script src="assets/plugins/jquery-unveil/jquery.unveil.min.js" type="text/javascript"></script>
<script src="assets/plugins/jquery-bez/jquery.bez.min.js"></script>
<script src="assets/plugins/jquery-ios-list/jquery.ioslist.min.js" type="text/javascript"></script>
<script src="assets/plugins/jquery-actual/jquery.actual.min.js"></script>
<script src="assets/plugins/jquery-scrollbar/jquery.scrollbar.min.js"></script>
<script src="assets/plugins/imagesloaded/imagesloaded.pkgd.min.js"></script>
<script src="assets/plugins/jquery-metrojs/MetroJs.min.js" type="text/javascript"></script>
<script type="text/javascript" src="assets/plugins/classie/classie.js"></script>
<script src="assets/plugins/codrops-stepsform/js/stepsForm.js" type="text/javascript"></script>
<!-- ANGULAR -->
<script src="assets/plugins/angular/angular.js" type="text/javascript"></script>
<script src="assets/plugins/angular-ui-router/angular-ui-router.min.js" type="text/javascript"></script>
<script src="assets/plugins/angular-ui-util/ui-utils.min.js" type="text/javascript"></script>
<script src="assets/plugins/angular-sanitize/angular-sanitize.min.js" type="text/javascript"></script>
<script src="assets/plugins/moment/moment-with-locales.min.js"></script>
<script src="assets/plugins/angular-moment/angular-moment.min.js"></script>
<script src="assets/plugins/angular-oc-lazyload/ocLazyLoad.min.js" type="text/javascript"></script>
<script src="assets/plugins/angular-isotope/dist/angular-isotope.min.js" type="text/javascript"></script>
<!-- Ladda -->
<script src="assets/plugins/ladda/dist/spin.min.js"></script>
<script src="assets/plugins/ladda/dist/ladda.min.js"></script>
<script src="assets/plugins/angular-ladda/dist/angular-ladda.min.js"></script>
<!-- Croppie -->
<!--<script src="assets/plugins/croppie/croppie.js"></script>-->
<script src="assets/plugins/ng-croppie/unminified/ng-croppie.js"></script>
<!-- Firebase -->
<script src="https://www.gstatic.com/firebasejs/3.7.0/firebase.js"></script>
<!-- GeoFire -->
<script src="https://cdn.firebase.com/libs/geofire/4.1.2/geofire.min.js"></script>
<!-- AngularFire -->
<script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_MR6Z0JQKALHfRMsg14VUVq0mnCc20cI"> </script>
<script src="assets/plugins/rsvp/rsvp.js"></script>
<script src="assets/plugins/geofire/dist/geofire.js"></script>
<script src="assets/plugins/AngularGeoFire/dist/angularGeoFire.js"></script>
<script src="assets/plugins/angular-filter/dist/angular-filter.js"></script>

<script src="assets/plugins/angular-reverse-geocode-assemany/dist/angular-reverse-geocode.min.js" charset="utf-8"></script>
<script src="assets/plugins/angularjs-scroll-glue/src/scrollglue.js" charset="utf-8"></script>

<!-- END VENDOR JS -->
<!-- BEGIN CORE TEMPLATE JS -->
<script src="pages/js/pages.js" type="text/javascript"></script>
<script src="assets/js/app.js" type="text/javascript"></script>
<script src="assets/js/config.js" type="text/javascript"></script>
<script src="pages/js/pages.social.min.js"></script>
<script src="assets/js/config.lazyload.js" type="text/javascript"></script>
<script src="assets/js/main.js" type="text/javascript"></script>
<script src="assets/js/directives/pg-sidebar.js" type="text/javascript"></script>
<script src="assets/js/directives/cs-select.js" type="text/javascript"></script>
<script src="assets/js/directives/pg-dropdown.js" type="text/javascript"></script>
<script src="assets/js/directives/pg-form-group.js" type="text/javascript"></script>
<script src="assets/js/directives/pg-navigate.js" type="text/javascript"></script>
<script src="assets/js/directives/pg-tab.js" type="text/javascript"></script>
<script src="assets/js/directives/pg-search.js" type="text/javascript"></script>
<script src="assets/js/directives/skycons.js" type="text/javascript"></script>
<script src="assets/js/directives/pg-portlet.js" type="text/javascript"></script>
<script src="assets/js/controllers/search.js" type="text/javascript"></script>
<script src="assets/js/controllers/login.js" type="text/javascript"></script>
<script src="assets/js/controllers/settings.js" type="text/javascript"></script>
<script src="assets/js/controllers/network.js" type="text/javascript"></script>
<script src="assets/js/controllers/community.js" type="text/javascript"></script>
<script src="assets/js/controllers/onboarding.js" type="text/javascript"></script>
<script src="assets/js/controllers/google_map.js" type="text/javascript"></script>
<script src="assets/js/controllers/verification.js" type="text/javascript"></script>
<script src="assets/js/controllers/SwarmController.js" type="text/javascript"></script>
<script src="assets/js/services/UserService.js" type="text/javascript"></script>
<script src="assets/js/services/EventsService.js" type="text/javascript"></script>
<script src="assets/js/services/UploadService.js" type="text/javascript"></script>
<script src="assets/js/services/NetworkService.js" type="text/javascript"></script>
<script src="assets/js/services/InviteService.js" type="text/javascript"></script>
<script src="assets/js/services/SwarmService.js" type="text/javascript"></script>

<!-- END CORE TEMPLATE JS -->
</body>

</html>