        <!-- START FOOTER -->
        <div class="container-fluid container-fixed-lg footer" ng-class="{'pull-bottom': is('app.maps.vector') }">
            <div class="copyright sm-text-center">
                <p class="small no-margin pull-left sm-pull-reset">
                    <span class="hint-text">Copyright © 2020</span>
                    <span class="font-montserrat">Laboratorio de Artes Digitales</span>.
                    <span class="hint-text">Todos los derechos reservados.</span>
                    <span class="sm-block"><a href="http://labsma.com" class="m-l-10 m-r-10">Términos de uso</a> | <a href="https://www.app.segurapp.io/#/privacy-policy" class="m-l-10">Política de Privacidad</a>
                        </span>
                </p>
                <p class="small no-margin pull-right sm-pull-reset">
                    <a href="http://www.sergiomartell.com">Redactado</a>
                    <span class="hint-text">&amp; Con Amor @ San Miguel de Allende, México.</span>
                </p>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- END FOOTER -->