<!-- START HEADER -->
<div class="header " ng-class="{'transparent': is('app.maps.vector') || is('app.maps.google') }">
    <!-- START MOBILE CONTROLS -->
    <!-- LEFT SIDE -->
    <div class="pull-left full-height visible-sm visible-xs">
        <!-- START ACTION BAR -->
        <div class="sm-action-bar">
            <a href="" class="btn-link toggle-sidebar" data-toggle="sidebar">
                <span class="icon-set menu-hambuger"></span>
            </a>
        </div>
        <!-- END ACTION BAR -->
    </div>
    <!-- RIGHT SIDE -->
    <div class="pull-right full-height visible-sm visible-xs">
        <!-- START ACTION BAR -->
        <div class="header-inner">
            <a href="#" class="btn-link toggle-sidebar visible-sm-inline-block visible-xs-inline-block padding-5" data-toggle="sidebar">
                <span class="icon-set menu-hambuger"></span>
            </a>
        </div>
        <!-- END ACTION BAR -->
    </div>
    <!-- END MOBILE CONTROLS -->
    <div class=" pull-left sm-table">
        <div class="header-inner">
            <div class="brand inline">
                <img src="assets/img/logo.png" alt="logo" ui-jq="unveil" width="78" height="22">
            </div>
            <!-- BEGIN NOTIFICATION DROPDOWN -->
            <ul class="notification-list no-margin hidden-sm hidden-xs b-grey b-l b-r no-style p-l-30 p-r-20">
                <li class="p-r-15 inline">
                    <div>
                        <a ui-sref="app.maps.google" id="notification-center" class="icon-set globe-fill">
                            <span class="bubble" ng-if="swarms.length > 0"><p>{{swarms.length}}</p></span>
                        </a>
                    </div>
                </li>
                <li class="p-r-15 inline" ng-if="isInMap">
                    <div>
                        <a ng-click="getNetworksI()"  class="fa fa-shield">
                        </a>
                    </div>
                </li>
            </ul>
            <!-- END NOTIFICATION DROPDOWN -->
        </div>
    </div>
    <div class=" pull-right">
        <div class="header-inner">
            <a href="" class="btn-link icon-set menu-hambuger-plus m-l-20 sm-no-margin hidden-sm hidden-xs" data-toggle="quickview" data-toggle-element="#quickview"></a>
            <span class="bubble" ng-if="swarms.length > 0"><p>{{swarms.length}}</p></span>
        </div>
    </div>
    <div class=" pull-right">
        <!-- START User Info-->
        <div class="visible-lg visible-md m-t-10">
            <div class="pull-left p-r-10 p-t-10 fs-16 font-heading">
                <span class="semi-bold">{{userName}}</span>
            </div>
            <div class="dropdown pull-right">
                <button class="profile-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="thumbnail-wrapper d32 circular inline m-t-5">
                        <img ng-src="{{avatar}}" width="32" height="32">
                    </span>
                </button>
                <ul class="dropdown-menu profile-dropdown" role="menu">
                    <li><a ui-sref="app.settings"><i class="pg-settings_small"></i> Settings</a>
                    </li>
                   <li><a href="https://forms.gle/Xy5pmqrNCiJcqyxw8" target="_blank"><i class="pg-outdent"></i> Feedback</a>
                    </li>
                    <li><a href="https://wa.me/5215585317405" target="_blank"><i class="pg-signals"></i> Help</a>
                    </li>
                    <li class="bg-master-lighter">
                        <a ng-click="logout()" class="clearfix">
                            <span class="pull-left">Logout</span>
                            <span class="pull-right"><i class="pg-power"></i></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- END User Info-->
    </div>
</div>
<!-- END HEADER -->