<!--START QUICKVIEW -->
<div id="quickview" class="quickview-wrapper" data-pages="quickview" ng-controller="SwarmController">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        <!--<li class="">
            <a href="#quickview-notes" data-toggle="tab" pg-tab>Note</a>
        </li>-->
        <li>
            <a href="#quickview-alerts" data-toggle="tab" pg-tab>Alertas</a>
        </li>
        <li class="active">
            <a href="#quickview-chat" data-toggle="tab" pg-tab>Incidentes</a>
        </li>
    </ul>
    <a class="btn-link quickview-toggle" data-toggle-element="#quickview" data-toggle="quickview"><i class="pg-close"></i></a>
    <!-- Tab panes -->
    <div class="tab-content">
        <!-- BEGIN Alerts !-->
        <div class="tab-pane fade in no-padding" id="quickview-alerts">
            <div class="view-port clearfix" id="alerts">
                <!-- BEGIN Alerts View !-->
                <div class="view bg-white">
                    <!-- BEGIN View Header !-->
                    <div class="navbar navbar-default navbar-sm">
                        <div class="navbar-inner">
                            <div class="view-heading">
                                No Verificados
                            </div>
                        </div>
                    </div>
                    <!-- END View Header !-->
                    <!-- BEGIN Alert List !-->
                    <div data-init-list-view="ioslist" class="list-view boreded no-top-border">
                        <!-- BEGIN List Group !-->
                        <div class="list-view-group-container">
                            <!-- BEGIN List Group Header!-->
                            <div class="list-view-group-header text-uppercase">
                                Incidentes usuarios no verificados
                            </div>
                            <!-- END List Group Header!-->
                            <ul>
                                <!-- BEGIN List Group Item!-->
                                <li class="alert-list" ng-repeat="notification in unswarms">
                                    <!-- BEGIN Alert Item Set Animation using data-view-animation !-->
                                    <a href="javascript:;" class="row p-t-10 p-b-10" pg-navigate data-view-port="#alerts" data-view-animation="push-parrallax" ng-click="getMessages(notification)">
                                        <p class="col-md-2">
                                            <span class="text-warning fs-10"><i class="fa fa-circle"></i></span>
                                        </p>
                                        <p class="p-l-10 col-md-9 fs-12">
                                            <span class="text-master">{{notification.address}}</span>
                                        </p>
                                        <p class="p-r-10 col-xs-height col-middle fs-12 text-right">
                                            <span class="text-warning" am-time-ago="notification.createdAt"><br></span>
                                            <span class="text-master">{{notification.type}}</span>
                                        </p>
                                    </a>
                                    <!-- END Alert Item!-->
                                    <!-- BEGIN List Group Item!-->
                                </li>
                                <!-- END List Group Item!-->
                            </ul>
                        </div>
                        <!-- END List Group !-->
                    </div>
                    <!-- END Alert List !-->
                </div>
                <!-- BEGIN Conversation View  !-->
                <div class="view chat-view bg-white clearfix">
                    <!-- BEGIN Header  !-->
                    <div class="navbar navbar-default">
                        <div class="navbar-inner">
                            <a href="javascript:;" class="link text-master inline action p-l-10" pg-navigate data-view-port="#alerts" data-view-animation="push-parrallax">
                                <i class="pg-arrow_left"></i>
                            </a>
                            <div class="view-heading">
                                {{citizen.name}}
                                <div class="fs-11 hint-text"><span am-time-ago="createdAtAlerts"></span></div>
                            </div>
                            <a href="javascript:;" class="link text-master inline action p-r-10 pull-right" ng-dblclick="deActivateSwarm(focusSwarmId)">
                                <i class="pg-close_line"></i>
                            </a>
                        </div>
                    </div>
                    <!-- END Header  !-->
                    <!-- BEGIN Conversation  !-->
                    <div class="chat-inner" id="net-conversation" scroll-glue>
                        <div class="row-fluid p-b-10">
                            <span class="label label-important">{{bindings.reason}}</span>
                            <span class="label label-info"> Confirmado: {{bindings.confirmed}}</span>
                            <span class="label label-success"> Activo : {{bindings.active}}</span>
                        </div>
                        <div class="text-black fs-8 p-l-20 p-r-20">
                            <p style="font-size: 15px; line-height: 13px; color: #0000C3">{{addressAlerts}}</p>
                        </div>
                        <div class="text-black fs-8 p-l-20 p-r-20" ng-if="bindings.address ===''">
                            <p style="font-size: 15px; line-height: 15px;">{{address}}</p>
                        </div>
                        <div class="text-black fs-8 p-l-20 p-r-20" ng-if="bindings.address !==''">
                            <p style="font-size: 15px; line-height: 15px;">{{bindings.address}}</p>
                        </div>
                        <div ng-if="bindings.audio !== ''" class="text-center">
                            <a class="btn btn-danger btn-block" href="{{bindings.audio}}" target="_blank"><span class="pull-left"><i class="fa fa-file-audio-o"></i></span>Grabación<span class="pull-right"><i class="fa fa-play-circle"></i></span></a>
                        </div>
                        <div class="message clearfix" ng-repeat="(key, message) in messages">
                            <div class="chat-bubble" ng-class="{'from-me' : message.user.uid === me, 'from-them': message.user.uid !== me}">
                                <div ng-if="message.text !==''">{{message.text}}</div>
                                <div ng-if="message.text ===''"><a href="{{message.image}}" target="_blank"><img ng-src="{{message.image}}" width="100%" alt=""></a></div>
                                <div class="card-footer">
                                    <span class="time" am-time-ago="message.createdAt"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- BEGIN Conversation  !-->
                    <!-- BEGIN Chat Input  !-->
                    <div class="b-t b-grey bg-white clearfix p-l-10 p-r-10">
                        <form ng-model="msg" ng-submit="addMessage(msg.text)" name="msg-form" id="alerts-msg-input">
                            <div class="row">
                                <div class="col-xs-9 no-padding">
                                    <input type="text" class="form-control chat-input" ng-model="msg.text" placeholder="Enviar mensaje" required >
                                </div>
                                <div class="col-xs-2 link text-master m-l-10 m-t-15 p-l-10 b-l b-grey col-top">
                                    <button  class="link text-master" type="submit"><i class="fa fa-send-o"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- END Chat Input  !-->
                </div>
                <!-- END Conversation View  !-->
                <!-- END Alerts View !-->
            </div>
        </div>
        <!-- END Alerts !-->
        <div class="tab-pane fade in active no-padding" id="quickview-chat">
            <div class="view-port clearfix" id="chat">
                <div class="view bg-white">
                    <!-- BEGIN View Header !-->
                    <div class="navbar navbar-default">
                        <div class="navbar-inner">
                            <!-- BEGIN Header Controler !-->
                            <!-- END Header Controler !-->
                            <div class="view-heading">
                                Incidentes
                                <div class="fs-11">{{locality}}</div>
                            </div>
                            <!-- BEGIN Header Controler !-->

                            <!-- END Header Controler !-->
                        </div>
                    </div>
                    <!-- END View Header !-->
                    <div data-init-list-view="ioslist" class="list-view boreded no-top-border">
                        <div class="list-view-group-container">
                            <div class="list-view-group-header text-uppercase">
                                Incidentes Activos</div>
                            <ul>
                                <!-- BEGIN Chat User List Item  !-->
                                <li class="chat-user-list clearfix" ng-repeat="swarm in swarms">
                                    <a data-view-animation="push-parrallax" data-view-port="#chat" pg-navigate ng-click="getMessages(swarm)">
                                        <span class="col-xs-height col-middle">
                                            <span class="thumbnail-wrapper d32 circular bg-success">
                                                <img width="34" height="34" alt="" ui-jq="unveil" data-src-retina="assets/img/icons/Alert.svg" data-src="assets/img/icons/Alert.svg" src="assets/img/icons/Alert.svg" class="col-top">
                                            </span>
                                        </span>
                                        <p class="p-l-10 col-xs-height col-middle col-xs-12">
                                            <span class="text-master">{{swarm.address}}</span>
                                            <span class="block text-master hint-text fs-12" am-time-ago="swarm.createdAt"></span>
                                        </p>
                                    </a>
                                </li>
                                <!-- END Chat User List Item  !-->
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- BEGIN Conversation View  !-->
                <div class="view chat-view bg-white clearfix">
                    <!-- BEGIN Header  !-->
                    <div class="navbar navbar-default">
                        <div class="navbar-inner">
                                <a href="javascript:;" class="link text-master inline action p-l-10" pg-navigate data-view-port="#chat" data-view-animation="push-parrallax">
                                    <i class="pg-arrow_left"></i>
                                </a>
                            <div class="view-heading">
                                {{citizen.name}}
                                <div class="fs-11 hint-text"><span am-time-ago="createdAt"></span></div>
                            </div>
                                <div class="row">
                                   <div>
                                       <a href="javascript:;" class="link text-master inline action p-r-10 pull-right" ng-dblclick="deActivateSwarm(focusSwarmId)">
                                           <i class="fa fa-close"></i>
                                       </a>
                                   </div>
                                </div>

                            </div>
                    </div>
                    <!-- END Header  !-->
                    <!-- BEGIN Conversation  !-->
                    <div class="chat-inner" id="my-conversation" scroll-glue>
                        <div class="row-fluid p-b-10 p-r-10">
                            <span class="label label-important">{{bindings.reason}}</span>
                            <span class="label label-info"> Confirmado: {{bindings.confirmed}}</span>
                            <span class="label label-success"> Activo : {{bindings.active}}</span>
                        </div>
                        <div class="text-black fs-8 p-l-20 p-r-20" ng-if="bindings.address ===''">
                            <p style="font-size: 15px; line-height: 15px;">{{address}}</p>
                        </div>
                        <div class="text-black fs-8 p-l-20 p-r-20" ng-if="bindings.address !==''">
                            <p style="font-size: 15px; line-height: 15px;">{{bindings.address}}</p>
                        </div>
                        <div ng-if="bindings.audio !== ''" class="text-center">
                            <a class="btn btn-danger btn-block" href="{{bindings.audio}}" target="_blank"><span class="pull-left"><i class="fa fa-file-audio-o"></i></span>Grabación<span class="pull-right"><i class="fa fa-play-circle"></i></span></a>
                        </div>

                        <div class="message clearfix" ng-repeat="(key, message) in messages">
                            <div class="chat-bubble" ng-class="{'from-me' : message.user.uid === me, 'from-them': message.user.uid !== me}">
                                <div ng-if="message.text !==''">{{message.text}}</div>
                                <div ng-if="message.text ===''"><a href="{{message.image}}" target="_blank"><img ng-src="{{message.image}}" width="100%" alt=""></a></div>
                                <div class="card-footer">
                                    <span class="time" am-time-ago="message.createdAt"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- BEGIN Conversation  !-->
                    <!-- BEGIN Chat Input  !-->
                    <div class="b-t b-grey bg-white clearfix p-l-10 p-r-10">
                        <form ng-model="msg" ng-submit="addMessage(msg.text)" name="msg-form" id="msg-input">
                            <div class="row">
                                <div class="col-xs-9 no-padding">
                                    <input type="text" class="form-control chat-input" ng-model="msg.text" placeholder="Enviar mensaje" required >
                                </div>
                                <div class="col-xs-2 link text-master m-l-10 m-t-15 p-l-10 b-l b-grey col-top">
                                    <button  class="link text-master" type="submit"><i class="fa fa-send-o"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- END Chat Input  !-->
                </div>
                <!-- END Conversation View  !-->
            </div>
        </div>
    </div>
</div>
<!-- END QUICKVIEW-->