<!-- BEGIN SIDEBAR -->
    <div class="page-sidebar" data-pages="sidebar" pg-sidebar>
      <div id="appMenu" class="sidebar-overlay-slide from-top">
      </div>
      <!-- BEGIN SIDEBAR HEADER -->
      <div class="sidebar-header">
        <img src="assets/img/logo_white.png" alt="logo" class="brand" data-src="assets/img/logo_white.png" data-src-retina="assets/img/logo_white_2x.png" width="78" height="22">
        <div class="sidebar-header-controls">
          <button data-pages-toggle="#appMenu" class="btn btn-xs sidebar-slide-toggle btn-link m-l-20" type="button"><i class="fa fa-angle-down fs-16"></i>
          </button>
          <button data-toggle-pin="sidebar" class="btn btn-link visible-lg-inline" type="button"><i class="fa fs-12"></i>
          </button>
        </div>
      </div>
      <!-- END SIDEBAR HEADER -->
      <!-- BEGIN SIDEBAR MENU -->
      <div class="sidebar-menu">
        <ul class="menu-items">
          <li class="m-t-30">
            <a ui-sref="app.dashboard">
              <span class="">Panel de Control</span>
            </a>
            <span class="icon-thumbnail "><i class="pg-charts"></i></span>
          </li>
          <li class="">
            <a ui-sref="app.validation">
              <span class="">Validar Usuario</span>
            </a>
            <span class="icon-thumbnail"><i class="fa fa-user-plus"></i></span>
          </li>
          <!--<li class="">
            <a href="javascript:;">
              <span class="title">Security</span>
              <span class=" arrow"></span>
            </a>
            <span class="icon-thumbnail"><i class="fa fa-shield"></i></span>
            <ul class="sub-menu">
              <li ng-repeat="community in userCommunities" class="">
                <a ui-sref="app.community({locality : community.locality, networkId : community.networkId})">{{community.name}}</a>
                <span class="icon-thumbnail"><img ng-src="assets/img/icons/{{community.type}}.svg" height="20px" width="20px" alt=""></span>
              </li>
            </ul>
          </li>
          <li class="">
            <a href="javascript:;">
              <span class="title">Settings</span>
              <span class=" arrow"></span>
            </a>
            <span class="icon-thumbnail"><i class="pg-settings"></i></span>
            <ul class="sub-menu">
              <li class="">
                <a ui-sref="app.settings">User</a>
                <span class="icon-thumbnail"><i class="fa fa-user"></i></span>
              </li>-->
              <!--<li class="">
                <a href="#">Admin</a>
                <span class="icon-thumbnail"><i class="fa fa-wrench"></i></span>
              </li>-->
              <!--<li class="">
                <a href="#">Dashboard</a>
                <span class="icon-thumbnail"><i class="fa fa-tachometer"></i></span>
              </li>
              <li class="">
                <a href="#">Networks</a>
                <span class="icon-thumbnail"><i class="fa fa-globe"></i></span>
              </li>-->
            </ul>
          </li>
         <!-- <li class="">
            <a ng-click="logout()">
              <span class="title">Sign Out</span>
            </a>
            <span class="icon-thumbnail "><i class="fa fa-sign-out"></i></span>
          </li>-->
        </ul>
        <div class="clearfix"></div>
      </div>
      <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->