<!-- START PAGE-CONTAINER -->
<div class="lock-container full-height">
    <!-- START PAGE CONTENT WRAPPER -->
    <div class="container-sm-height full-height sm-p-t-50">
        <div class="row row-sm-height">
            <div class="col-lg-12 col-sm-height col-middle">
                <!-- START Lock Screen User Info -->
                <div class="inline col-lg-12">
                    <div>
                        <img ui-jq="unveil" src="assets/img/logo_2x.png" width="100%">
                    </div>



                     <div class="full-width" style="text-align: center">
                    <h1>
                       Seguridad personal, familiar y comunitaria
                    </h1>
                    <h5 class="name no-margin">El sistema de seguridad más avanzado en tu bolsillo</h5>
                </div>
                <!-- END Lock Screen User Info -->
            </div>
            <div class=" col-middle">
                <!-- START Download Section -->

                        <div>
                            <div class="app-downloads">
                                <div>
                                    <a href='http://bit.ly/teem-ios'><img width="100%" alt='Get it on the App Store' src='assets/img/app-store-badge.svg'/></a>
                                </div>
                                <div>
                                    <a href='https://play.google.com/store/apps/details?id=is.teem.apli'><img width="100%" alt='Get it on Google Play' src='assets/img/google-play-badge.svg'/></a>
                                </div>
                            </div>
                        </div>

                <!-- END Download Section -->
            </div>
        </div>
    </div>
    <!-- END PAGE CONTENT WRAPPER -->
</div>
<!-- END PAGE-CONTAINER -->
<!-- START Lock Screen Footer Content-->
<!--<div class="pull-bottom full-width">
    <div class="lock-container m-b-10 clearfix">
        <div class="inline pull-left">
            <img src="assets/img/teem_icon.png" alt="" class="m-t-5 " width="30" height="30">
        </div>
        <div class="col-md-10 m-t-15">
            <p class="hinted-text small inline ">In order for you to access the La Calaca Guide, you must be physically in San Miguel de Allende.</p>
        </div>
    </div>
</div>-->
<!-- END Lock Screen Footer Content-->
</div>