<!-- START PAGE COVER -->
<div class="container-fluid container-fixed-lg ">
    <ul class="breadcrumb">
        <li>
            <a href="#">Panel de Control</a>
        </li>
    </ul>
    <!-- END BREADCRUMB -->
</div>
<div class="container-fluid container-fixed-lg">
    <!-- CONTENT GOES HERE-->
    <h1>{{client}}</h1>
    <h2>{{message}}</h2>
    <iframe width="1100" height="850" src="https://datastudio.google.com/embed/reporting/d69bea74-4127-4f9d-a1ce-29fedaf711ea/page/Gg3" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>