<!-- START PAGE-CONTAINER -->
<div class="lock-container full-height">
    <!-- START PAGE CONTENT WRAPPER -->
    <div class="container-sm-height full-height sm-p-t-50">
        <div class="row row-sm-height">
            <div class="col-sm-6 col-sm-height col-middle">
                <!-- START Lock Screen User Info -->
                <div class="inline">
                    <div>
                        <img width="80" height="80" ui-jq="unveil" src="assets/img/icons/LaCalaca.svg">
                    </div>
                </div>
                <div class="inline">
                    <h5 class="logged hint-text no-margin">
                        For a guide of La Calaca
                    </h5>
                    <h2 class="name no-margin">Download teem</h2>
                </div>
                <!-- END Lock Screen User Info -->
            </div>
            <div class="col-sm-6 col-sm-height col-middle">
                <!-- START Download Section -->

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="app-downloads">
                                <div class="col-md-6 padding-5">
                                    <a href='https://itunes.apple.com/us/app/teem-contextual-networks/id1119289155?ls=1&mt=8'><img alt='Get it on the App Store' src='assets/img/app-store-badge.svg'/></a>
                                </div>
                                </br>
                                <div class="col-md-6 padding-5">
                                    <a href='https://play.google.com/store/apps/details?id=is.teem.app&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img alt='Get it on Google Play' src='assets/img/google-play-badge.svg'/></a>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- END Download Section -->
            </div>
        </div>
    </div>
    <!-- END PAGE CONTENT WRAPPER -->
</div>
<!-- END PAGE-CONTAINER -->
<!-- START Lock Screen Footer Content-->
<div class="pull-bottom full-width">
    <div class="lock-container m-b-10 clearfix">
        <div class="inline pull-left">
            <img src="assets/img/teem_icon.png" alt="" class="m-t-5 " width="30" height="30">
        </div>
        <div class="col-md-10 m-t-15">
            <p class="hinted-text small inline ">In order for you to access the La Calaca Guide, you must be physically in San Miguel de Allende.</p>
        </div>
    </div>
</div>
<!-- END Lock Screen Footer Content-->