<!-- START PAGE-CONTAINER -->
<div class="login-wrapper ">
    <!-- START Login Background Pic Wrapper-->
    <div class="bg-pic">
        <!-- START Background Pic-->
        <img src="assets/img/loginLandingPage.png" data-src="assets/img/loginLandingPage.png" ui-jq="unveil" data-src-retina="assets/img/loginLandingPage.png" alt="" class="lazy">
        <!-- END Background Pic-->
        <!-- START Background Caption-->
        <div class="bg-caption pull-bottom sm-pull-bottom text-white p-l-20 m-b-20">
            <h2 class="semi-bold text-white">
                "Sin importar el tamaño de la ciudad o pueblo en donde nacen los hombres o mujeres <strong>ellos son finalmente del tamaño de su voluntad de engrandecer y enriquecer a sus hermanos."</strong> </h2>
            <p class="small">
                General Ignacio Allende
            </p>
        </div>
        <!-- END Background Caption-->
    </div>
    <!-- END Login Background Pic Wrapper-->
    <!-- START Login Right Container-->
    <div class="login-container bg-white">
        <div class="p-l-50 m-l-20 p-r-50 m-r-20 p-t-50 m-t-30 sm-p-l-15 sm-p-r-15 sm-p-t-40">
            <img src="assets/img/logo_2x.png" alt="logo" data-src="assets/img/logo_2x.png" ui-jq="unveil" data-src-retina="assets/img/logo_2x.png" width="353" height="100">
            <p class="p-t-35">Entra a tu cuenta de San Miguel Seguro</p>
            <!-- START Login Form -->
            <form ng-submit="botonLogin(user)" id="form-login" name="login" class="p-t-15" role="form" novalidate>
                <!-- START Form Control-->
                <div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error' : login.username.$invalid && !login.username.$pristine }">
                    <label>Usuario</label>
                    <div class="controls">
                        <input type="text" name="username" placeholder="Correo Electrónico" class="form-control" ng-model="user.username" required>
                    </div>
                </div>
                <label class="error" for="username" ng-show="login.username.$invalid && !login.username.$pristine">Por favor ingresa tu correo.</label>
                <!-- END Form Control-->
                <!-- START Form Control-->
                <div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error' : login.password.$invalid && !login.password.$pristine }">
                    <label>Contraseña</label>
                    <div class="controls">
                        <input type="password" class="form-control" name="password" placeholder="Contraseña" ng-model="user.password" required>
                    </div>
                </div>
                <label class="error" for="password" ng-show="login.password.$invalid && !login.password.$pristine">Por favor ingresa tu contraseña.</label>
                <button class="btn btn-primary btn-cons m-t-10" type="submit" ng-disabled="login.$invalid">Entrar</button>
            </form>
            <!--END Login Form-->



            <!--<div class="pull-bottom sm-pull-bottom">
                <div class="m-b-30 p-r-80 sm-m-t-20 sm-p-r-15 sm-p-b-20 clearfix">
                    <div class="col-sm-3 col-md-2 no-padding">
                        <img alt="" class="m-t-5" data-src="assets/img/teem_icon.png" ui-jq="unveil" data-src-retina="assets/img/teem_icon_2x.png" height="60" src="assets/img/teem_icon.png" width="60">
                    </div>
                    <div class="col-sm-9 no-padding m-t-10">
                        <p style="padding-left: 2vw;"><small>
                            To create an account you must download our mobile app. For iOS devices: <a href="https://itunes.apple.com/us/app/teem-contextual-networks/id1119289155?ls=1&mt=8" class="text-info">App Store</a> or for Android devices: <a href="https://play.google.com/store/apps/details?id=is.teem.app" class="text-info">Play Store</a></small>
                        </p>
                    </div>
                    <div class="app-downloads">
                        <div class="col-md-6 padding-5">
                            <a href='https://itunes.apple.com/us/app/teem-contextual-networks/id1119289155?ls=1&mt=8'><img alt='Get it on the App Store' src='assets/img/app-store-badge.svg'/></a>
                        </div>
                        <div class="col-md-6 padding-5">
                            <a href='https://play.google.com/store/apps/details?id=is.teem.app&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img alt='Get it on Google Play' src='assets/img/google-play-badge.svg'/></a>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
    <!-- END Login Right Container-->
</div>
<!-- END PAGE CONTAINER -->