<!-- START CONTENT INNER -->
<div class="map-controls">
    <div class="pull-left">
        <div class="btn-group btn-group-vertical" data-toggle="buttons-radio">
            <button id="map-zoom-in" class="btn btn-success btn-xs" ng-click="zoomIn()"><i class="fa fa-plus"></i>
            </button>
            <button id="map-zoom-out" class="btn btn-success btn-xs" ng-click="zoomOut()"><i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
</div>
<!-- Map -->
<div class="google-map full-width full-height" center="center" zoom="zoom" markers="markers" latitude="clickedLatitudeProperty" longitude="clickedLongitudeProperty" mark-click="false" draggable="true" fit="true" styles="styles" disabledefaultui="true" id="SEGURmap">
</div>
<!-- END CONTENT INNER -->