<div class="container-builder full-height full-width">
    <div class="full-width bg-master-darkest p-t-50 p-b-50 p-l-15 p-r-0">
        <img src="assets/img/logo_white_2x.png" height="60" alt="">
    </div>
    <div class="row row-fluid p-b-10">
        <div class="col-md-12">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 padding-30 m-t-50 text-center">
                <img ng-src="{{logo}}"/>
                <h2>{{netName}}</h2>
                <h4>Invitación a red de seguridad</h4>
                <br>
                <a ng-href="{{teemLink}}" class="btn btn-lg btn-success" ng-click="goSpanish()"><strong style="font-size: large">¡Unete!</strong></a>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
    <div class="row row-fluid">
        <div class="col-md-4"></div>
        <div class="col-md-4 b-t b-grey text-center">
            <h3>¿Aún no tienes SEGUR?</h3>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="app-downloads row row-fluid">
        <div class="col-xs-6 padding-5 text-right">
            <a href='https://itunes.apple.com/us/app/teem-contextual-networks/id1119289155?ls=1&mt=8'><img alt='Get it on the App Store' src='assets/img/app-store-badge.svg'/></a>
        </div>
        <div class="col-xs-6 padding-5 text-left">
            <a href='https://play.google.com/store/apps/details?id=is.teem.apli'><img alt='Get it on Google Play' src='assets/img/google-play-badge.svg'/></a>
        </div>
    </div>
</div>