<div class="social-wrapper">
    <div class="social " data-pages="social" pg-social>
        <!-- START JUMBOTRON -->
        <div class="jumbotron" data-pages="parallax" data-social="cover">
            <div ng-if="netSettings.bgImage == undefined" class="cover-photo">
                <img alt="Cover photo" src="assets/img/social/cover.png" />
            </div>
            <div ng-if="netSettings.bgImage != undefined" class="cover-photo">
                <img alt="Cover photo" ng-src="{{netSettings.bgImage}}" />
            </div>
            <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
                <div class="inner">
                    <div class="pull-bottom bottom-left m-b-40">
                        <span ng-if="netSettings.logo != undefined"><img ng-src="{{netSettings.logo}}" width="100px" height="100px" alt=""></span>
                        <h1 class="text-white no-margin"><span class="semi-bold">{{netSettings.name}}</span></h1>
                    </div>
                </div>
            </div>
        </div>
        <!-- END JUMBOTRON -->
        <!-- START SETTINGS -->
        <div ng-if="logoSelected " style="text-align: center">
            <ng-croppie   src="logo.input"
                          ng-model='logo.output'
                          update='onUpdate'
                          boundry="{w: 250, h: 250}"
                          viewport="{w: 150, h:150}"
                          mousezoom="true"
                          zoom="true"
                          type="square">
            </ng-croppie>

            <button class="btn btn-success btn-lg"
                    ng-click="uploadLogo(logo.output)"
                    ladda="uploadingLogo"
                    data-style="expand-right"
                    style="margin-top: 15px;">Upload</button>
        </div>
        <div ng-if="bgImageSelected" style="text-align: center">
            <ng-croppie   src="bgImage.input"
                          ng-model='bgImage.output'
                          update='onUpdateBgImage'
                          boundry="{w: 500, h: 315}"
                          viewport="{w: 485, h:290}"
                          mousezoom="true"
                          zoom="true"
                          type="square">
            </ng-croppie>
            <button class="btn btn-success btn-lg"
                    ladda="uploadingBgImage"
                    data-style="expand-right"
                    ng-click="uploadBgImage(bgImage.output)"
                    style="margin-top: 15px;">Upload</button>
        </div>
        <div ng-if="imagePostSelected" style="text-align: center">
            <ng-croppie   src="imagePost.input"
                          ng-model='imagePost.output'
                          update='onUpdatePostImage'
                          boundry="{w: 600, h: 600}"
                          viewport="{w: 500, h:500}"
                          mousezoom="false"
                          zoom="true"
                          type="square">
            </ng-croppie>
            <button class="btn btn-success btn-lg"
                    ladda="uploadingPostImage"
                    data-style="expand-right"
                    ng-click="uploadPostImage(imagePost.output)"
                    style="margin-top: 15px;">Upload</button>
        </div>
        <div class="container" ng-show="!logoSelected || !bgImageSelected || !imagePostSelected">
            <!-- START ITEM -->
            <div class="card no-border bg-transparent full-width" data-social="item">
                <!-- START CONTAINER FLUID -->

                <div class="container-fluid p-t-30 p-b-30 ">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="container-xs-height">
                                <div class="row-xs-height">
                                    <div class="social-user-profile col-xs-height text-center col-top">
                                        <div class="thumbnail-wrapper d48 circular bordered b-black">
                                            <img alt="Avatar" width="120" height="120" ui-jq="unveil"  ng-src="assets/img/icons/{{netSettings.type}}.svg">
                                        </div>
                                        <br>
                                        <!--<i class="fa fa-check-circle text-success fs-16 m-t-10"></i>-->
                                    </div>
                                    <div class="col-xs-height p-l-20">
                                        <h3 class="no-margin">{{netSettings.name}}</h3>
                                        <p class="no-margin fs-16">{{netSettings.locality}}</p>
                                        <p class="no-margin m-t-5 small">{{netSettings.description}}</p>
                                    </div>
                                </div>
                            </div>
                            <!-- START ITEM -->
                            </br>
                            <div class="card col2 padding-10" data-social="item">
                                <form id="updateForm" class="simform no-margin" ng-submit="sendMessage(message)">
                                    <div class="form-group form-group-default">
                                        <label>Send a message</label>
                                        <input type="text" class="simform no-margin no-border" style="font-size: 15px!important;" ng-model="message">
                                        <button type="submit" class="btn btn-success"> Send </button> <div class="fileUpload btn btn-success">
                                        <span><i class="fa fa-file-image-o"></i></span>
                                        <input type="file" id="imgPostButton" class="upload" accept="image/*"/>
                                    </div>
                                    </div>
                                </form>
                                <!-- /simform -->
                            </div>


                            <!-- END ITEM -->
                        </div>

                        <div class="col-md-5">
                            <div class="panel">
                                <ul class="nav nav-tabs nav-tabs-simple" role="tablist" ui-jq="tabCollapse">
                                    <li class="active"><a href="#tabImages" data-toggle="tab" pg-tab role="tab">Images</a>
                                    </li>
                                    <li><a href="#tabDetails" data-toggle="tab" pg-tab role="tab">Details</a>
                                    </li>
                                    <li><a href="#tabTools" data-toggle="tab" pg-tab role="tab">Tools</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tabImages">
                                        <div ng-show="uploadingLogo">
                                            <div class="progress">
                                                <div class="progress-bar-indeterminate"></div>
                                            </div>
                                        </div>
                                        <div ng-show="!uploadingLogo" class="panel-body">
                                            <form name="logo">
                                                <div pg-form-group class="form-group form-group-default">
                                                    <label> Upload Logo </label>
                                                    <input name="file" type="file" value="upload" id="logoButton" accept="image/*" ng-model="outputLogoImage"/>
                                                </div>
                                            </form>
                                        </div>
                                        <div ng-show="uploadingBgImage">
                                            <div class="progress">
                                                <div class="progress-bar-indeterminate"></div>
                                            </div>
                                        </div>
                                        <div ng-show="!uploadingBgImage" class="panel-body">

                                            <form name="bgImage" ng-submit="uploadBgImage('#bgImage')">
                                                <div pg-form-group class="form-group form-group-default">
                                                    <label> Upload Background Image </label>
                                                    <input name="file" type="file" value="upload" id="bgImageButton" accept="image/*" ng-model="network.bgImage"/>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="tab-pane " id="tabDetails">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h3>Edit this details:</h3>
                                                <form name="webpage" id="webpage" ng-submit="setWeb(web)" class="m-b-10">
                                                    <div pg-form-group class="form-group form-group-default required">
                                                        <label>URL</label>
                                                        <input type="url" class="form-control" placeholder="http://www." ng-model="web.link" required>
                                                    </div>
                                                    <button
                                                            class="btn btn-success btn-sm"
                                                            type="submit"
                                                            ng-disabled="webpage.$invalid" >Publish</button>
                                                 </form>

                                                <form name="telephone" id="telephone" ng-submit="setPhone(phone)" class="m-b-10">
                                                    <div pg-form-group class="form-group form-group-default required">
                                                        <label>Telephone</label>
                                                        <input type="tel" class="form-control" placeholder="Please add area code" ng-model="phone.number" required>
                                                    </div>
                                                    <button class="btn btn-success btn-sm" type="submit" ng-disabled="telephone.$invalid">Publish</button>
                                                </form>
                                                <form name="description" id="description" ng-submit="setDescription(description)" class="m-b-10">
                                                    <div pg-form-group class="form-group form-group-default required">
                                                        <label>Network Description</label>
                                                        <textarea type="textarea" class="form-control" placeholder="{{netSettings.description}}" ng-model="description.text" required></textarea>
                                                    </div>
                                                    <button class="btn btn-success btn-sm" type="submit" ng-disabled="description.$invalid">Publish</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="tabTools">
                                        <div class="row">
                                            <div class="col-md-12" ng-if="netSettings.type == 'DJ' || netSettings.type =='LaCalaca'">
                                                <h3>Set a link to an mp3</h3>
                                                <form name="djSet" id="djSet" ng-submit="sendSet(djSet)">
                                                    <div pg-form-group class="form-group form-group-default required">
                                                        <label>Title</label>
                                                        <textarea type="text" class="form-control" placeholder="Title of the set" ng-model="djSet.title" required></textarea>
                                                    </div>
                                                    <div pg-form-group class="form-group form-group-default required">
                                                        <label>Author</label>
                                                        <textarea type="text" class="form-control" placeholder="Author of the track" ng-model="djSet.author" required></textarea>
                                                    </div>
                                                    <div pg-form-group class="form-group form-group-default required">
                                                        <label>Link</label>
                                                        <textarea type="text" class="form-control" placeholder="Link to an mp3" ng-model="djSet.link" required></textarea>
                                                    </div>
                                                    <br>
                                                    <button class="btn btn-success btn-sm" type="submit" ng-disabled="djSet.$invalid">Broadcast Set</button>
                                                </form>
                                                <br>
                                            </div>

                                            <div class="col-md-12" ng-if="netSettings.product">
                                                <h3>Cart</h3>
                                                <p>{{netSettings.cartDescription}}</p>
                                                <form name="cartDescription" id="cartDescription" ng-submit="setCartDescription(cartDescription)" class="m-b-10">
                                                    <div pg-form-group class="form-group form-group-default required">
                                                        <label>Cart Description</label>
                                                        <textarea type="textarea" class="form-control" placeholder="Description of the set of products/product" ng-model="cartDescription.text" required></textarea>
                                                    </div>
                                                    <button class="btn btn-success btn-sm" type="submit" ng-disabled="cartDescription.$invalid">Publish</button>
                                                </form>
                                                <table class="table table-condensed">
                                                    <thead>
                                                    <tr>
                                                        <th style="width:60%">Product</th>
                                                        <th style="width:20%">Qty</th>
                                                        <th style="width:20%">Price</th>
                                                    </tr>
                                                    </thead>
                                                    <tr ng-repeat="product in cart">
                                                        <td class="col-lg-4 col-md-4 col-sm-4 ">
                                                            <a ng-click="removeFromCart(product)" class="remove-item"><i class="pg-close"></i></a>
                                                            <span class="m-l-10 font-montserrat fs-14 all-caps">{{product.name}}</span>
                                                        </td>
                                                        <td class=" col-lg-2 col-md-3 col-sm-3 text-right">
                                                            <span>{{product.qty}}</span>
                                                        </td>
                                                        <td class=" col-lg-2 col-md-3 col-sm-2 text-right">
                                                            <h5 class="text-primary no-margin font-montserrat">${{product.price}}</h5>
                                                        </td>
                                                    </tr>
                                                </table>

                                                <form name="product" id="product" ng-submit="addProductToCart(product)" class="m-b-10">
                                                    <div pg-form-group class="form-group form-group-default required">
                                                        <label>Product</label>
                                                        <textarea type="text" class="form-control" placeholder="Product info" ng-model="product.name" required></textarea>
                                                    </div>
                                                        <div class="row clearfix">
                                                            <div class="col-sm-6">
                                                                <div pg-form-group class="form-group form-group-default required">
                                                                    <label>Quantity</label>
                                                                    <input type="number" class="form-control" ng-model="product.qty" required>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div pg-form-group class="form-group form-group-default required">
                                                                    <label>Price</label>
                                                                    <input type="number" class="form-control" placeholder="$" ng-model="product.price" required>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </br>
                                                    <button class="btn btn-success btn-sm" type="submit" ng-disabled="product.$invalid">Add product to cart</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END CONTAINER FLUID -->
            </div>
            <!-- END ITEM -->
            <!-- START ITEM -->
            <!-- END ITEM -->
        </div>
        <!-- END SETTINGS -->

        <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20" >
            <div class="feed">
                <!-- START DAY -->
                <div class="day" data-social="day" isotope-container="day">
                    <!-- START ITEM -->
                    <div class="card share  col1" data-social="item" ng-if="message.type == 'txt'" ng-repeat="message in messages track by $index " isotope-item="day-item">
                        <div class="circle" data-toggle="tooltip" title="Label" data-container="body">
                                    <a ng-click="remove(message)"><i class="fa fa-trash-o" style="color: red"></i></a>
                        </div>
                        <div class="card-header clearfix">
                            <div class="user-pic">
                                <img ng-src="{{message.avatar}}" alt="">
                            </div>
                            <h5>{{message.from}}</h5>
                            <h6>Left a message</h6>
                        </div>
                        <div class="card-description">
                            <p>{{message.message}}</p>
                            <div class="via">via teem app</div>
                            <div class="time" am-time-ago="message.createdAt"></div>
                        </div>
                    </div>
                    <!-- END ITEM -->

                    <!-- START ITEM -->
                    <div class="card share share-other col1" data-social="item" ng-if="message.type =='img'" ng-repeat="message in messages track by $index" isotope-item="day-item">
                        <div class="circle" data-toggle="tooltip" title="Label" data-container="body">
                        </div>
                        <div class="card-content">
                            <ul class="buttons ">
                                <li>
                                    <a ng-click="remove(message)"><i class="fa fa-trash-o" style="color: red"></i>
                                    </a>
                                </li>
                            </ul>
                            <img alt="" ng-src="data:image/jpeg;base64,{{message.message}}">
                        </div>
                        <div class="card-description">
                        </div>
                        <div class="card-footer clearfix">
                            <div class="time" am-time-ago="message.createdAt"></div>
                            <!--<ul class="reactions">
                                <li><a href="">5,345 <i class="fa fa-comment-o"></i></a>
                                </li>
                                <li><a href="">23K <i class="fa fa-heart-o"></i></a>
                                </li>
                            </ul>-->
                        </div>
                        <div class="card-header clearfix">
                            <div class="user-pic">

                            </div>
                            <h5>User with id {{message.from}}</h5>
                            <h6>Uploaded this photo</h6>
                        </div>
                    </div>
                    <!-- END ITEM -->
                </div>
                <!-- END DAY -->
            </div>
            <!-- END FEED -->
        </div>
        <!-- END CONTAINER FLUID -->
    </div>
    <!-- /container -->
</div>
<div class="modal fade slide-up disable-scroll" id="modalSlideUp" tabindex="-1" role="dialog" aria-labelledby="modalSlideUpLabel" aria-hidden="false">
    <div class="modal-dialog ">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-header clearfix text-left">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="pg-close fs-14"></i>
                    </button>
                    <h5>Heading <span class="semi-bold">here</span></h5>
                </div>
                <div class="modal-body">
                    Add Your Content here
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>