<div class="container-fluid container-fixed-lg m-t-50">
    <!-- Nav tabs -->
    <!--<ul class="nav nav-tabs nav-tabs-linetriangle nav-tabs-separator nav-stack-sm" >
        <li ng-class="{'active': getCurrentStep() == 1 }">
            <a data-toggle="tab"><i class="fa fa-home tab-icon"></i>
                <span ng-if="language === 'spanish'">Inicio</span>
                <span ng-if="language === 'english'">Home</span>
            </a>
        </li>
        <li ng-class="{'active': getCurrentStep() == 2 }">
            <a data-toggle="tab"><i class="fa fa-shield tab-icon"></i>
                <span ng-if="language === 'spanish'">Redes de Seguridad</span>
                <span ng-if="language === 'english'">Security Networks</span>
            </a>
        </li>
        <li ng-class="{'active': getCurrentStep() == 3 }">
            <a data-toggle="tab" ><i class="fa fa-download tab-icon"></i>
                <span ng-if="language === 'spanish'">Descarga la aplicación</span>
                <span ng-if="language === 'english'">Download App</span>
            </a>
        </li>
    </ul>-->
    <wizard on-finish="finished()" class="bg-white" hide-indicators="true">
        <wz-step title="Inicio">
            <div class="row row-same-height">
                <div class="col-md-12 b-r b-dashed b-grey">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4 padding-30 m-t-50 text-center">
                        <img src="assets/img/teem_icon.png" height="52" width="52"/><img src="assets/img/logo.png" height="52" width="193"/>
                        <h2>Idioma / Language</h2>
                        <p>Por favor escoge tu idioma / Please choose your language</p>
                        <br>
                        <br>
                        <button class="btn btn-lg btn-complete" ng-click="goSpanish()">ESPAÑOL</button>
                        <button class="btn btn-lg btn-complete" ng-click="goEnglish()">ENGLISH</button>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
            </div>
        </wz-step>
        <wz-step title="Redes de Seguridad">
            <div class="row row-same-height">
                <div class="container-fluid col-md-4 b-r b-dashed b-grey sm-b-b">
                    <div class="padding-30 ">
                        <img src="assets/img/teem_icon.png" height="60" width="60"/><img src="assets/img/logo.png" height="52" width="193"/>
                        <h1>{{name}}</h1>
                        <h2>{{headerText1}}</h2>
                        <div class="ar-3-2 widget-1-wrapper"ng-repeat="invite in invites">
                            <div class="widget-1 panel no-border bg-complete no-margin widget-loader-circle-lg"  ng-style="{'background-image': 'url({{ invite.bgImage }})'}" style="height: 250px;">
                                <div class="panel-heading top-right ">
                                    <div class="panel-controls">
                                        <ul>
                                            <li><a data-toggle="refresh" class="portlet-refresh text-black" href="#"><i
                                                    class="portlet-icon portlet-icon-refresh-lg-master"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="pull-bottom bottom-left bottom-right ">
                                        <span class="label font-montserrat fs-11">{{secNet}}</span>
                                        <br>

                                        <h3 class="text-white">{{invite.name}}</h3>

                                        <p class="text-white hint-text">{{invite.description}}</p>

                                    </div>
                                </div>
                            </div>

                        </div>
                        <p>{{subHeaderText1}}</p>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="p-t-100">
                    </div>
                    <div class="col-md-12">
                        <form id="form-register" class="p-t-15" role="form" name="register" novalidate ng-submit="createUser(email,name,password)">
                            <h2>{{regTitle}}</h2>
                            <div class="row">
                                <div class="col-sm-8">
                                    <div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error': register.email.$invalid && !register.email.$pristine }">
                                        <label>Email</label>
                                        <input
                                                type="email"
                                                name="email"
                                                placeholder="{{email}}"
                                                value="{{email}}"
                                                class="form-control"
                                                ng-model="email"
                                                required>
                                    </div>
                                    <label class="error" for="email" ng-show="register.email.$invalid && !register.email.$pristine">{{validEmail}}</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8">
                                    <div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error': register.name.$invalid && !register.name.$pristine }">
                                        <label>{{nameReg}}</label>
                                        <input
                                                type="text"
                                                name="name"
                                                placeholder="{{name}}"
                                                value="{{name}}"
                                                class="form-control"
                                                ng-model="name"
                                                required>
                                    </div>
                                    <label class="error" for="name" ng-show="register.name.$invalid && !register.name.$pristine">{{fieldRequired}}</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8">
                                    <div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error': register.pass.$invalid && !register.pass.$pristine }">
                                        <label>{{passReg}}</label>
                                        <input
                                                type="password"
                                                name="pass"
                                                placeholder=""
                                                class="form-control"
                                                ng-minlength="6"
                                                ng-model="password"
                                                required>
                                    </div>
                                    <label class="error" for="pass" ng-show="register.pass.$invalid && !register.pass.$pristine">{{fieldRequired}}</label>
                                    <label class="error" for="pass" ng-show="register.pass.$error.minlength">{{minFields}}</label>
                                </div>
                            </div>
                            <button class="btn btn-primary btn-cons m-t-10" type="submit" ng-disabled="register.$invalid">{{createAccount}}</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="padding-20 bg-white">
                <ul class="pager wizard">
                    <li class="next">
                        <button type="button" class="btn btn-primary btn-cons btn-animated from-left fa fa-download pull-right" wz-next>
                            <span>{{skip}}</span>
                        </button>
                    </li>
                    <li class="previous">
                        <button type="button" class="btn btn-default btn-cons pull-right" ng-click="goBack()">
                            <span>{{back}}</span>
                        </button>
                    </li>
                </ul>
            </div>
        </wz-step>
        <wz-step title="Descarga la aplicación">
            <div class="row row-same-height"  >
                <div class="col-md-3 b-r b-dashed b-grey">
                    <h3 style="color: white"></h3>
                </div>
                <div class="col-md-6 b-r b-dashed b-grey ">
                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-10">
                                <div class="m-t-50 m-l-20" ng-if="!hasNoInvites">
                                    <img src="assets/img/teem_icon.png" height="60" width="60"/><img src="assets/img/logo.png" height="52" width="193"/>
                                    <h1>{{headerText2}}</h1>
                                    <p>{{subHeaderText2}}</p>
                                </div>
                                <div class="m-t-50 m-l-20" ng-if="hasNoInvites">
                                    <img src="assets/img/teem_icon.png" height="60" width="60"/><img src="assets/img/logo.png" height="52" width="193"/>
                                    <h2>{{noInvitesTitle}}</h2>
                                    <p>{{noInvitesText}}</p>
                                </div>
                                <div>
                                    <h1 class="m-l-20">{{teemIntro}}</h1>
                                </div>
                                <div class="video-responsive">
                                    <iframe ng-if="language === 'spanish'" src="https://player.vimeo.com/video/229085250" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                    <iframe ng-if="language === 'english'" src="https://player.vimeo.com/video/229232666" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                </div>
                                <div class="m-t-10 m-l-20">
                                    <h1>{{nextSteps}}</h1>
                                </div>
                                <div class="widget-8 panel no-border no-margin bg-success-light" style="height: auto!important">
                                    <div class="container-xs-height full-height">
                                        <div class="row-xs-height">
                                            <div class="col-xs-height col-top">
                                                <div class="panel-heading top-left top-right">
                                                    <p class="small hint-text ">
                                                        <span class="label  font-montserrat m-r-5">{{first}}</span>{{step}}
                                                    </p>
                                                    <div class="panel-title text-black hint-text">
                                                    <span class="font-montserrat fs-11 all-caps">{{download}}<i class="fa fa-chevron-right"></i></span>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row-xs-height ">
                                            <div class="col-xs-height col-top relative">
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <div class="p-l-20 m-t-30">
                                                            <h3 class="no-margin p-b-5 text-white">{{login}}</h3>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-8  text-center">
                                                        <div class="p-l-20 p-b-20 m-t-30">
                                                            <a href='http://bit.ly/teem-ios' target="_blank"><img src="assets/img/app-store-badge.svg" alt=""></a>
                                                            <a href="http://bit.ly/teem-android" target="_blank"><img src="assets/img/google-play-badge.svg" alt=""></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget-8 panel no-border no-margin bg-success" style="height: auto!important">
                                    <div class="container-xs-height full-height">
                                        <div class="row-xs-height">
                                            <div class="col-xs-height col-top">
                                                <div class="panel-heading top-left top-right">
                                                    <p class="small hint-text ">
                                                        <span class="label  font-montserrat m-r-5">{{second}}</span>{{step}}
                                                    </p>
                                                    <div class="panel-title text-black hint-text">
                                                    <span class="font-montserrat fs-11 all-caps">{{goP}}<i class="fa fa-chevron-right"></i></span>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row-xs-height ">
                                            <div class="col-xs-height col-top relative">
                                                <div class="row">
                                                    <div class="col-sm-5">
                                                        <div class="p-l-20 m-t-30">
                                                            <h3 class="no-margin p-b-5 text-white">{{upP}}</h3>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-7  text-center">
                                                        <div class="p-b-20 m-t-30">
                                                            <img ng-src="{{secondImage}}">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget-8 panel no-border no-margin bg-success-dark" style="height: auto!important">
                                    <div class="container-xs-height full-height">
                                        <div class="row-xs-height">
                                            <div class="col-xs-height col-top">
                                                <div class="panel-heading top-left top-right">
                                                    <p class="small hint-text text-white">
                                                        <span class="label  font-montserrat m-r-5">{{third}}</span>{{step}}
                                                    </p>
                                                    <div class="panel-title text-black hint-text">
                                                        <span class="font-montserrat fs-11 all-caps">{{goS}}<i class="fa fa-chevron-right"></i></span>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row-xs-height ">
                                            <div class="col-xs-height col-top relative">
                                                <div class="row">
                                                    <div class="col-sm-5">
                                                        <div class="p-l-20 m-t-30">
                                                            <h3 class="no-margin p-b-5 text-white">{{reH}}</h3>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-7  text-center">
                                                        <div class="p-b-20 m-t-30">
                                                            <img ng-src="{{thirdImage}}">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget-8 panel no-border no-margin bg-success-darker" style="height: auto!important">
                                    <div class="container-xs-height full-height">
                                        <div class="row-xs-height">
                                            <div class="col-xs-height col-top">
                                                <div class="panel-heading top-left top-right">
                                                    <p class="small hint-text text-white">
                                                        <span class="label  font-montserrat m-r-5">{{fourth}}</span>{{step}}
                                                    </p>
                                                    <div class="panel-title text-black hint-text">
                                            <span class="font-montserrat fs-11 all-caps">{{goNetSet}}<i
                                                    class="fa fa-chevron-right"></i>
                                                                </span>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row-xs-height ">
                                            <div class="col-xs-height col-top relative">
                                                <div class="row">
                                                    <div class="col-sm-5">
                                                        <div class="p-l-20 m-t-30">
                                                            <h3 class="no-margin p-b-5 text-white">{{addFamily}}</h3>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-7  text-center">
                                                        <div class="p-b-20 m-t-30">
                                                            <img ng-src="{{fourthImage}}">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="m-t-20 m-l-20">
                                    <h1>{{accessories}}</h1>
                                    <div class="panel panel-default" pg-portlet>
                                        <div class="panel-heading separator">
                                            <div class="panel-title">{{triggers}}</div>
                                        </div>
                                        <div class="panel-body">
                                            <div style="max-height: 350px">
                                                <p>{{teemFlic}}</p>
                                                <div class="image-container">
                                                    <img src="assets/img/onboarding/teemFlic.png">
                                                </div>
                                                <div class="row m-b-5">
                                                    <div class="col-sm-2" style="color: white">.</div>
                                                    <div class="col-sm-2" style="color: white">.</div>
                                                    <div class="col-sm-2" style="color: white">.</div>
                                                    <div class="col-sm-6 text-right bg-complete-dark  padding-10">
                                                        <h5 class="font-montserrat all-caps small no-margin hint-text text-white bold">{{cost}}</h5>
                                                        <h4 class="no-margin text-white">$650 MXN</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default" pg-portlet>
                                        <div class="panel-heading separator">
                                            <div class="panel-title">{{signage}}</div>
                                        </div>
                                        <div class="panel-body">
                                            <div style="max-height: 350px">
                                                <p>{{signText}}</p>
                                                <div class="image-container">
                                                    <img src="assets/img/onboarding/streetSign.png">
                                                </div>
                                                <div class="row m-b-5">
                                                    <div class="col-sm-2" style="color: white">.</div>
                                                    <div class="col-sm-2" style="color: white">.</div>
                                                    <div class="col-sm-2" style="color: white">.</div>
                                                    <div class="col-sm-6 text-right bg-complete-dark  padding-10">
                                                        <h5 class="font-montserrat all-caps small no-margin hint-text text-white bold">{{cost}}</h5>
                                                        <h4 class="no-margin text-white">$150 MXN</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <div class="m-t-20 m-l-20 text-center">
                                <h1>{{download}}</h1>
                                <div class="row">
                                    <div class="col-sm-2"></div>
                                    <div class="col-sm-8  text-center">
                                        <div class="p-l-20 p-b-20 m-t-30">
                                            <a href='http://bit.ly/teem-ios' target="_blank"><img src="assets/img/app-store-badge.svg" alt=""></a>
                                            <a href="http://bit.ly/teem-android" target="_blank"><img src="assets/img/google-play-badge.svg" alt=""></a>
                                        </div>
                                    </div>
                                    <div class="col-sm-2"></div>
                                </div>

                            </div>
                            </div>
                        <div class="col-sm-1"></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <h3 style="color: white">*</h3>
                </div>
            </div>
            </div>
        </wz-step>

    </wizard>
    <div class="wizard-footer padding-20 bg-master-light">
        <p class="small hint-text pull-left no-margin">
            Un servicio proveído por SEGUR © 2019 Todos los derechos reservados.
        </p>
        <div class="pull-right">
            <img width="78" height="22" ui-jq="unveil" data-src-retina="assets/img/logo_2x.png" data-src="assets/img/logo.png" alt="logo" src="assets/img/logo_2x.png">
        </div>
        <div class="clearfix"></div>
    </div>