<!-- START CONTAINER FLUID -->
<div class="container-fluid container-fixed-lg">
    <ul class="breadcrumb">
        <li><a class="active">Política de Privacidad</a>
        </li>
    </ul>
    <!-- END BREADCRUMB -->
    <!-- START PANEL -->
    <div class="panel panel-transparent">
        <div class="panel-heading ">
            <div class="panel-title">Política de Privacidad
            </div>
        </div>
        <div class="panel-body">
            <div class="col-md-4 no-padding">
                <div class="p-r-30">
                    <h3>Tu Privacidad es muy importante para SEGUR</h3>
                    <br>
                    <p> Hemos creado todas las herramientas de SEGUR, como una postura fundamental ante la privacidad, automatización y la inteligencia artificial.  Los tres ejes, que consideramos son rectores para el presente y el futuro de la humanidad. En este documento te informamos sobre la información que colectamos y el uso que le damos.
                    </p>
                </div>
            </div>
            <div class="col-md-8 sm-no-padding">
                <div class="panel panel-transparent">
                    <div class="panel-body no-padding">
                        <div id="portlet-advance" class="panel panel-default" pg-portlet on-refresh="refreshWithErrorTest('#portlet-advance')">
                            <div class="panel-heading ">
                                <div class="panel-title">
                                    Resumen de la Política de Privacidad
                                </div>
                                <div class="panel-controls">
                                    <ul>
                                        <li><a href="" data-toggle="maximize" class="portlet-maximize"><i class="portlet-icon portlet-icon-maximize"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="panel-body">
                                <h3>
                                    <i class="fa fa-mobile" aria-hidden="true"></i> Permisos en<span class="semi-bold"> Dispositivo</span>
                                </h3>
                                <span class="label label-success">REDES LOCALES</span>
                                <span class="label label-warning">NOTIFICACIONES</span>
                                <span class="label label-important">ENJAMBRES</span>
                                <span class="label label-info">REDES DE SEGURIDAD</span>
                                <br>
                                <br>
                                <p>Permisos sobre dispositivos para acceder a los siguientes datos: Permiso de almacenamiento, Permiso de ubicación aproximada (en modo continuo), Permiso para acceder a la ubicación exacta (en modo continuo), Permiso para acceder a la ubicación exacta (en modo no continuo), Permiso para compartir a través de Bluetooth, Permiso para el micrófono, Permiso para el teléfono, Permiso para la cámara, Permiso para los sensores, Permiso para los sensores de movimiento, Permiso para Recordatorios, Permiso sobre cuentas en redes sociales y Permiso sobre SMS</p>

                                <small>Los datos que recolectamos desde el dispositivo, se utilizan para poder presentar las redes locales que estén en tu localización, como también se utilizan para los "enjambres" para dar notificación de emergencia propia o cercana a tí. Estos enjambres también pueden ser ejecutados via botones Bluetooth. Si eres parte de una Red de Seguridad, se pueden ejecutar alarmas vía SMS.  La Camara  y el micrófono los usamos para que puedas aportar elementos en imágen o audio al enjambre.</small>

                                <h3>
                                    <i class="fa fa-location-arrow" aria-hidden="true"></i> Interacciones basadas en la <span class="semi-bold"> localización</span>
                                </h3>
                                <span class="label label-success">REDES LOCALES</span>
                                <span class="label label-important">ENJAMBRES</span>

                                <br>
                                <br>
                                <p>Accedemos a tu geolocalización.</p>

                                <small>Tu posición geográfica es utilizada mientras usas la aplicación para mostrarte las redes locales cerca de tí y, cuando está corriendo en el fondo para notificarte de enjambres en los que puedas participar (en un radio de 50 metros de tí).</small>

                                <h3>
                                    <i class="fa fa-area-chart" aria-hidden="true"></i> Registro de información <span class="semi-bold"> estadística</span>
                                </h3>
                                <span class="label label-success">REDES LOCALES</span>
                                <span class="label label-important">ENJAMBRES</span>
                                <span class="label label-info">REDES DE SEGURIDAD</span>
                                <br>
                                <br>
                                <p>Google Analytics</p>

                                <small>Estamos constantemente mejorando SEGUR, es por esto que registramos el uso de la aplicación en la plataforma de analítica de Google.</small>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END PANEL -->
</div>
<!-- END CONTAINER FLUID -->
<!-- START CONTAINER FLUID -->
<div class="container-fluid container-fixed-lg">
    <div class="panel">
        <div class="panel-body">
            <h2 style="text-align: center; font-variant:small-caps;">Pol&iacute;tica de privacidad completa</h2>

        </div> <!-- /one_line_col -->





        <div class="one_line_col">

            <h2>Responsable de Tratamiento de los Datos y Titular</h2>


        </div> <!-- /one_line_col -->


        <div class="one_line_col">

            <h2>Clases de Datos recogidos</h2>

            <p>
                Entre las clases de Datos Personales que esta Aplicaci&oacute;n recoge, ya sea directamente o a través de terceros, se encuentran:
                Cookie, Datos de Uso, posición geográfica, Permiso para la cámara, Permiso para acceder a la ubicación exacta (en modo continuo), Permiso para acceder a la ubicación exacta (en modo no continuo), Permiso de ubicación aproximada (en modo continuo), Permiso para el micrófono, Permiso para el teléfono, Permiso para los sensores, Permiso sobre SMS, Permiso de almacenamiento, Permiso para Recordatorios, Permiso para los sensores de movimiento, Permiso para compartir a través de Bluetooth y Permiso sobre cuentas en redes sociales.
            </p>


            <p>Otros Datos Personales recogidos pueden encontrarse descritos en otros apartados de la presente pol&iacute;tica de privacidad o en un texto explicativo espec&iacute;fico mostrado contextualmente en el momento de la recogida de dichos Datos.<br />Los Datos Personales pueden ser proporcionados por el Usuario por su propia voluntad, o bien ser recogidos autom&aacute;ticamente durante la utilizaci&oacute;n de esta Aplicaci&oacute;n.<br />Salvo que se indique lo contrario, el uso de Cookies – o de otras medios de seguimiento – por esta Aplicaci&oacute;n o por los propietarios de servicios de terceros utilizados por esta Aplicaci&oacute;n tiene como finalidad la identificaci&oacute;n de los Usuarios y el registro de sus preferencias, con la única finalidad de prestar el servicio solicitado por el Usuario.<br />La negativa del Usuario a proporcionar ciertos Datos Personales podr&iacute;a imposibilitar a esta Aplicaci&oacute;n la prestaci&oacute;n de sus servicios.</p>
            <p>El Usuario asume la responsabilidad por los Datos Personales de terceros publicados o compartidos mediante esta Aplicaci&oacute;n y declara que tiene el consentimiento de dichos terceros para proporcionar los Datos al Titular.</p>

        </div> <!-- /one_line_col -->


        <div class="one_line_col">

            <h2>Modalidad y lugar del Tratamiento de los Datos recogidos</h2>

            <h3>Modalidades de Tratamiento</h3>

            <p>El Responsable de Tratamiento tratar&aacute; los Datos de los Usuarios de manera adecuada y adoptar&aacute; las medidas de seguridad apropiadas para impedir el acceso, la revelaci&oacute;n, alteraci&oacute;n o destrucci&oacute;n no autorizados de los Datos.<br />El tratamiento de Datos se realiza mediante ordenadores y/o herramientas informáticas, siguiendo procedimientos y modalidades organizativas estrictamente relacionadas con las finalidades señaladas. Además del Responsable de Tratamiento, en algunos casos podrán acceder a los Datos ciertas categorías de personas encargadas relacionadas con el funcionamiento de la página (administración, ventas, marketing, departamento jurídico y de administración de sistemas) o contratistas externos que presten servicios al Responsable de Tratamiento (tales como proveedores externos de servicios técnicos, empresas de mensajería, “hosting providers”, empresas de informática, agencias de comunicación) que serán nombrados por el Titular como Encargados del Tratamiento, si fuera necesario. Se podrá solicitar al Responsable de Tratamiento en cualquier momento una lista actualizada de dichas personas.</p>

            <h3>Lugar</h3>

            <p>Los Datos serán tratados en la sede operativa del Responsable de Tratamiento, así como en otros lugares en los que se encuentren situadas las partes que también estén involucradas en dicho tratamiento. Para más información, por favor póngase en contacto con el Responsable de Tratamiento.</p>

            <h3>Per&iacute;odo de conservaci&oacute;n</h3>

            <p>Los Datos ser&aacute;n tratados durante el plazo necesario para prestar el servicio solicitado por el Usuario, o el que se requiera en funci&oacute;n de las finalidades descritas en este documento, y el Usuario tendr&aacute; en todo momento la facultad de solicitar la interrupci&oacute;n de su Tratamiento o la cancelaci&oacute;n de los Datos.</p>

        </div> <!-- /one_line_col -->



        <div class="one_line_col">

            <h2>Finalidad del Tratamiento de los Datos recogidos</h2>

            <p>
                Los Datos relativos al Usuario son recogidos para permitir al Titular la prestación de sus servicios, así como para las siguientes finalidades:
                Estadísticas,  Interacciones basadas en la localización y Permisos sobre dispositivos para acceder a Datos Personales.
            </p>


            <p>Los Datos Personales utilizados para cada finalidad son descritos en los apartados espec&iacute;ficos de este documento.</p>


        </div> <!-- /one_line_col -->




        <div class="one_line_col">

            <h2>Permisos sobre dispositivos para acceder a Datos Personales</h2>
            <p>Esta Aplicaci&oacute;n solicita determinados permisos a los Usuarios, que le permiten acceder al dispositivo del Usuario tal como se describe a continuación.</p>
            <p>Por defecto, el Usuario deberá otorgar estos permisos antes de que se pueda acceder a la información en cuestión. Tras conceder el permiso, el Usuario podrá revocarlo en cualquier momento. Para revocar estos permisos, los Usuarios podrán utilizar las opciones de configuración del dispositivo o bien contactar con el Titular para obtener su ayuda mediante los datos de contacto que aparecen en el presente documento.<br />El procedimiento concreto para controlar los permisos de la aplicación puede depender del dispositivo del Usuario así como del software que utilice.</p>
            <p>Debe tenerse en cuenta que la revocación de dichos permisos puede afectar al correcto funcionamiento de esta Aplicaci&oacute;n.</p>
            <p>Si el Usuario otorga cualquiera de los permisos que se relacionan más abajo, autoriza a esta Aplicaci&oacute;n a tratar los correspondientes Datos Personales (p.ej. acceder a ellos, modificarlos o eliminarlos).</p>


            <h3>Permiso de almacenamiento</h3>
            <p>Se utiliza para acceder al almacenamiento externo compartido, incluyendo la posibilidad de leer y añadir cualquier elemento.</p>



            <h3>Permiso de ubicación aproximada (en modo continuo)</h3>
            <p>Se utiliza para acceder a la ubicación aproximada del dispositivo del Usuario. Esta Aplicaci&oacute;n podrá recopilar, utilizar y compartir los datos de ubicación del Usuario para proporcionar servicios basados en la ubicación.</p>



            <h3>Permiso para acceder a la ubicación exacta (en modo continuo)</h3>
            <p>Se utiliza para acceder a la ubicación exacta del dispositivo del Usuario. Esta Aplicaci&oacute;n podrá recopilar, utilizar y compartir los datos de ubicación del Usuario para proporcionar servicios basados en la ubicación.</p>



            <h3>Permiso para acceder a la ubicación exacta (en modo no continuo)</h3>
            <p>Se utiliza para acceder a la ubicación exacta del dispositivo del Usuario. Esta Aplicaci&oacute;n podrá recopilar, utilizar y compartir los datos de ubicación del Usuario para proporcionar servicios basados en la ubicación.<br/>
                La ubicación geográfica del Usuario se determina de una manera no continuada. Esto supone que es imposible que esta Aplicaci&oacute;n averigüe la localización exacta del Usuario de forma continua.</p>



            <h3>Permiso para compartir a través de Bluetooth</h3>
            <p>Se utiliza para acceder a funciones relativas a Bluetooth como la búsqueda de dispositivos, conectarse con otros dispositivos y permitir la transferencia de datos entre dispositivos.</p>



            <h3>Permiso para el micrófono</h3>
            <p>Se utiliza para acceder al micrófono y realizar grabaciones de audio desde el dispositivo del Usuario.</p>



            <h3>Permiso para el teléfono</h3>
            <p>Se utiliza para acceder a una serie de características típicas asociadas a la telefonía. Esto permite, por ejemplo, acceder en versión “sólo lectura” al “estado del teléfono”, lo que significa que permite acceder al número de teléfono del dispositivo, a información actualizada sobre la red de telefonía móvil o bien al estado de cualquier llamada en curso.</p>



            <h3>Permiso para la cámara</h3>
            <p>Se utiliza para acceder a la cámara o bien para captar imágenes y hacer grabaciones de vídeo desde el dispositivo.</p>



            <h3>Permiso para los sensores</h3>
            <p>Se utiliza para acceder a datos procedentes de los sensores que los Usuarios pueden utilizar para medir lo que sucede en su propio cuerpo, como por ejemplo su ritmo cardíaco.</p>



            <h3>Permiso para los sensores de movimiento</h3>
            <p>Se utiliza para acceder a los sensores de movimiento del dispositivo del Usuario para medir la actividad del Usuario, como por ejemplo contar pasos, escalones subidos o el tipo de movimiento (caminar, ir en bicicleta, etc.).</p>



            <h3>Permiso para Recordatorios</h3>
            <p>Se utiliza para acceder a la aplicación  Recordatorios en el dispositivo del Usuario, incluyendo la posibilidad de leer, añadir o eliminar entradas.</p>



            <h3>Permiso sobre cuentas en redes sociales</h3>
            <p>Se utiliza para acceder a los perfiles de las cuentas del Usuario en redes sociales, tales como Facebook y Twitter.</p>



            <h3>Permiso sobre SMS</h3>
            <p>Se utiliza para acceder a características relativas a los mensajes del Usuario, incluyendo la posibilidad de enviar, recibir y leer SMS.</p>



        </div>




        <div class="one_line_col">

            <h2>Informaci&oacute;n detallada del tratamiento de los Datos Personales</h2>
            <p>Se recogen Datos Personales para las siguientes finalidades y utilizando los siguientes servicios:</p>

            <ul class="for_boxes">


                <li>
                    <div class="box_primary box_10 expand">
                        <h3 class="expand-click w_icon_24 policyicon_purpose_3541850"> Interacciones basadas en la localización</h3>
                        <div class="expand-content">




                            <h4>Geolocalización (Esta Aplicaci&oacute;n)</h4>

                            <p>Esta Aplicaci&oacute;n puede recoger, utilizar y compartir los Datos relativos a la localización geográfica del Usuario, con la finalidad de prestarle servicios basados en dicha localización.<br/>
                                La mayoría de los navegadores y dispositivos proporcionan de modo predefinido medios para desactivar el rastreo geográfico. Si el Usuario ha dado su autorización expresa a tal posibilidad, esta Aplicaci&oacute;n podrá recibir información sobre su localización geográfica real.</p>



                            <p>
                                Datos Personales recogidos:
                                posición geográfica.
                            </p>





                        </div> <!-- /expand-content -->
                    </div> <!-- /expand -->
                </li>


                <li>
                    <div class="box_primary box_10 expand">
                        <h3 class="expand-click w_icon_24 policyicon_purpose_3541848">Estadísticas</h3>
                        <div class="expand-content">

                            <p>Los servicios contenidos en esta sección permiten al Titular monitorizar y analizar el tráfico web y pueden ser utilizados para rastrear el comportamiento del Usuario.</p>


                            <h4>Google Analytics (Google Inc.)</h4>

                            <p>Google Analytics es un servicio de análisis web prestado por Google Inc. (“Google”). Google utiliza los Datos recogidos para rastrear y examinar el uso de esta Aplicaci&oacute;n, para preparar informes de sus actividades y compartirlos con otros servicios de Google.<br/>
                                Google puede utilizar los Datos recogidos para contextualizar y personalizar los anuncios de su propia red de publicidad.</p>



                            <p>
                                Datos Personales recogidos:
                                Cookie y Datos de Uso.
                            </p>


                            <p>

                                Lugar de tratamiento: EE.UU.
                                &ndash;

                                <a href="https://www.google.com/intl/es/policies/privacy/" target="_blank">Pol&iacute;tica de privacidad</a>
                                &ndash;

                                <a href="https://tools.google.com/dlpage/gaoptout?hl=es" onClick="javascript:return tryFunc('tryGaOptOut',{href:'https://tools.google.com/dlpage/gaoptout?hl=es'})" target="_blank">Opt Out</a>

                            </p>



                        </div> <!-- /expand-content -->
                    </div> <!-- /expand -->
                </li>


                <li>
                    <div class="box_primary box_10 expand">
                        <h3 class="expand-click w_icon_24 policyicon_purpose_3541854">Permisos sobre dispositivos para acceder a Datos Personales</h3>
                        <div class="expand-content">

                            <p>Esta Aplicaci&oacute;n solicita determinados permisos a los Usuarios, que le permiten acceder al dispositivo del Usuario tal como se describe a continuación.</p>


                            <h4>Permisos sobre dispositivos para acceder a Datos Personales (Esta Aplicaci&oacute;n)</h4>

                            <p>Esta Aplicaci&oacute;n solicita determinados permisos a los Usuarios, que le permiten acceder al dispositivo del Usuario tal como se describe en este documento.</p>



                            <p>
                                Datos Personales recogidos:
                                Permiso de almacenamiento, Permiso de ubicación aproximada (en modo continuo), Permiso para acceder a la ubicación exacta (en modo continuo), Permiso para acceder a la ubicación exacta (en modo no continuo), Permiso para compartir a través de Bluetooth, Permiso para el micrófono, Permiso para el teléfono, Permiso para la cámara, Permiso para los sensores, Permiso para los sensores de movimiento, Permiso para Recordatorios, Permiso sobre cuentas en redes sociales y Permiso sobre SMS.
                            </p>





                        </div> <!-- /expand-content -->
                    </div> <!-- /expand -->
                </li>



            </ul>

        </div> <!-- /one_line_col -->











        <div class="one_line_col">

            <h2>Informaci&oacute;n adicional sobre la recogida de Datos y su tratamiento</h2>

            <h3>Defensa jurídica</h3>
            <p>
                Los Datos Personales del Usuario podrán ser utilizados para la defensa jurídica del Titular en juicio o en las fases prejudiciales previas a un posible pleito derivado del uso abusivo por parte del Usuario de esta Aplicaci&oacute;n o de los servicios relacionados.<br />El Usuario es consciente de que el Titular puede ser requerido por autoridades públicas a fin de revelar Datos Personales.
            </p>

            <h3>Informaci&oacute;n adicional acerca de los Datos Personales del Usuario</h3>
            <p>
                Adem&aacute;s de las informaciones contenidas en esta pol&iacute;tica de privacidad, esta Aplicaci&oacute;n podr&aacute; proporcionar al Usuario informaci&oacute;n contextual relativa a servicios espec&iacute;ficos o a la recogida y tratamiento de los Datos Personales.
            </p>

            <h3>Log del sistema y mantenimiento</h3>
            <p>
                Por motivos relativos al funcionamiento y el mantenimiento, esta Aplicaci&oacute;n y cualesquiera otros servicios de terceros que se utilicen podr&aacute;n recoger un Log del sistema, esto es, archivos que registren las interacciones y que pueden contener Datos Personales, tales como la direcci&oacute;n IP del Usuario.
            </p>

            <h3>Informaci&oacute;n no contenida en esta pol&iacute;tica de privacidad</h3>
            <p>
                Se podrá solicitar en cualquier momento información adicional sobre la recogida y el tratamiento de los Datos Personales al Responsable de Tratamiento. Encontrará la información de contacto al inicio del presente documento.
            </p>

            <h3>Ejercicio de los derechos por los Titulares de los Datos</h3>
            <p>
                Los titulares a los que se refieren los Datos Personales tienen derecho a obtener en cualquier momento la confirmaci&oacute;n de que estos han sido almacenados por el Responsable de Tratamiento, a conocer su contenido y origen, a verificar su exactitud o solicitar que sean completados, cancelados, actualizados o rectificados, a que sean anonimizados o a que se bloqueen aquellos Datos Personales que est&aacute;n siendo tratados en contravenci&oacute;n de las leyes, as&iacute; como a oponerse a su tratamiento por cualquier motivo leg&iacute;timo. Las solicitudes deber&aacute;n remitirse al Responsable de Tratamiento utilizando los datos de contacto indicados anteriormente.
            </p>
            <p>
                Esta Aplicaci&oacute;n no permite solicitudes “Do Not Track”.<br />Para determinar si cualquiera de los servicios de terceros que utiliza acepta solicitudes “Do Not Track”, por favor lea sus políticas de privacidad.
            </p>

            <h3>Modificaci&oacute;n de esta pol&iacute;tica de privacidad</h3>
            <p>
                El Responsable de Tratamiento se reserva el derecho de modificar esta pol&iacute;tica de privacidad en cualquier momento notific&aacute;ndolo a los Usuarios a través de esta p&aacute;gina. Se recomienda encarecidamente que revisen esta p&aacute;gina con frecuencia, tomando como referencia la fecha de la última modificaci&oacute;n indicada al final. En el caso de que un Usuario esté en desacuerdo con alguna de las modificaciones realizadas a esta Pol&iacute;tica, el Usuario deber&aacute; cesar en el uso de esta Aplicaci&oacute;n y podr&aacute; solicitar al Responsable de Tratamiento que elimine sus Datos Personales. Salvo que se indique lo contrario, la pol&iacute;tica de privacidad vigente en cada momento ser&aacute; de aplicaci&oacute;n a todos los Datos Personales que el Responsable de Tratamiento haya recogido hasta entonces.
            </p>

            <h3>Informaci&oacute;n acerca de esta pol&iacute;tica de privacidad</h3>
            <p>
                El Responsable de Tratamiento es responsable de esta pol&iacute;tica de privacidad, que ha sido redactada a partir de los m&oacute;dulos proporcionados por Iubenda y almacenados en los servidores de Iubenda.
            </p>

        </div> <!-- /one_line_col -->

        <div class="one_line_col">

            <div class="box_primary box_10 definitions expand">

                <h3 class="expand-click w_icon_24 icon_ribbon">
                    Definiciones y referencias legales
                </h3>

                <div class="expand-content">

                    <h4>Datos Personales (o Datos)</h4>
                    <p>Constituye un dato personal cualquier información relativa a una persona física, identificada o identificable, aunque sea indirectamente, mediante referencia a cualquier otra información, inclusive a un número de identificación personal.</p>

                    <h4>Datos de Uso</h4>
                    <p>Las informaciones recogidas de forma autom&aacute;tica por esta Aplicaci&oacute;n (o por servicios de terceros utilizados por esta Aplicaci&oacute;n), que podr&aacute;n incluir: las direcciones IP o nombres de dominio de los ordenadores utilizados por el Usuario que se conecte a esta Aplicaci&oacute;n, las direcciones URI (Uniform Resource Identifier), la hora de la solicitud, el método utilizado para realizar la solicitud al servidor, las dimensiones del archivo obtenido en respuesta, el c&oacute;digo numérico indicando el estado de la respuesta del servidor (resultado satisfactorio, error, etc…), el pa&iacute;s de origen, las caracter&iacute;sticas del navegador y del sistema operativo utilizados por el visitante, las diversas coordenadas temporales de la visita (por ejemplo, el tiempo de permanencia en cada una de las p&aacute;ginas) y los detalles relativos al itinerario seguido dentro de la Aplicaci&oacute;n, con especial referencia a la secuencia de p&aacute;ginas consultadas, a los par&aacute;metros relativos al sistema operativo y al entorno inform&aacute;tico del Usuario.</p>

                    <h4>Usuario</h4>
                    <p>El individuo que utiliza esta Aplicaci&oacute;n, que debe coincidir con el Titular de los Datos o bien haber sido autorizado por éste y cuyos Datos Personales son objeto de tratamiento.</p>

                    <h4>Titular de los Datos</h4>
                    <p>La persona f&iacute;sica o jur&iacute;dica a la que se refieren los Datos Personales.</p>

                    <h4>Encargado del Tratamiento</h4>
                    <p>La persona f&iacute;sica, jur&iacute;dica, administraci&oacute;n pública o cualquier otra instituci&oacute;n, asociaci&oacute;n u organizaci&oacute;n autorizada por el Responsable de Tratamiento a tratar los Datos Personales de conformidad con esta pol&iacute;tica de privacidad.</p>

                    <h4>Responsable de Tratamiento (o Titular)</h4>
                    <p>La persona física, jurídica, administración pública o cualquier otra institución, asociación u organización con la facultad, incluso solidariamente con otro Responsable de Tratamiento, de tomar decisiones relativas a la finalidad, los métodos de tratamiento de los Datos Personales y los medios utilizados, incluyendo las medidas de seguridad relativas al funcionamiento y el uso de esta Aplicaci&oacute;n. A menos que se especifique lo contrario, el Responsable de Tratamiento es el Titular de esta Aplicaci&oacute;n.</p>

                    <h4>Esta Aplicaci&oacute;n</h4>
                    <p>La herramienta de hardware o software mediante la cual se han recogidos los Datos Personales del Usuario.</p>

                    <h4>Cookie</h4>
                    <p>Pequeña unidad de datos almacenada en el dispositivo del Usuario.</p>


                    <hr />

                    <h4>Informaci&oacute;n legal</h4>
                    <p>Aviso a los Usuarios europeos: la presente declaraci&oacute;n de privacidad ha sido redactada en cumplimiento de las obligaciones previstas en el Art. 10 de la Directiva 95/46/CE, y de acuerdo con las disposiciones de la Directiva 2002/58/CE, modificada por la Directiva 2009/136/CE, en materia de Cookies.</p>
                    <p>Esta pol&iacute;tica de privacidad se refiere únicamente a esta Aplicaci&oacute;n.</p>

                </div> <!-- /expand-content -->

            </div> <!-- /box_primary -->

        </div> <!-- /one_line_col -->

        </div>

    </div>
</div>
<!-- END CONTAINER FLUID -->