<div class="register-container full-height sm-p-t-30" style="padding-top: 1.5vw!important;">
    <div class="container-sm-height full-height">
        <div class="row row-sm-height">
            <div class="col-sm-12 col-sm-height col-middle">
                <p style="padding-top: 30px;">
                    <small>
                        Some advanced functionality requires that we know your identity, please fill out your identity settings or link your account to Facebook</a>
                    </small>
                </p>
                <div ng-if="!emailVerified" class="panel panel-default padding-10">
                    <button ng-if="!emailSent"
                            class="btn btn-block btn-danger btn-animated from-left fa fa-check"
                            type="button"
                            ladda="sendingEmail"
                            data-style="expand-right"
                            ng-click="verify()">
                        <span ng-show="sendingEmail" class="bold"> Sending Email </span>
                        <span ng-show="!sendingEmail" class="bold"> Please Confirm your Email </span>

                    </button>
                    <button ng-if="emailSent"
                            class="btn btn-block btn-danger btn-animated from-left fa fa-check"
                            type="button" disabled>
                        <span class="bold"> Please Check your Email </span>

                    </button>
                </div>
                <!--<div class="panel panel-default padding-10">
                    <button class="btn btn-block btn-complete" type="button" ng-click ='accountLinkFB()'>
                        <span class="pull-left"><i class="fa fa-facebook"></i>
                                    </span>
                        <span class="bold">Link to your Facebook Account</span>
                    </button>
                </div>-->
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="UserSettings">
                        <h4 class="panel-title">
                            <a class="collapsed" ng-class="{collapsed:!collapseTwo}" ng-click="collapseTwo=!collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Update your profile info
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" ng-class="{in:collapseTwo}">
                        <div class="panel-body">
                            <form name="update_userName" id="userNameForm" role="form" ng-submit="updateUserName(user)">
                                <div pg-form-group class="form-group form-group-default required ">
                                    <label>Your Name</label>
                                    <input type="text" class="form-control" ng-model="user.name" required>
                                </div>
                                <button class="btn btn-complete"
                                        type="submit"
                                        ladda="updatingName"
                                        data-style="expand-right">
                                  <span ng-show="!updatingName">Submit</span>
                                  <span ng-show="updatingName">Changing Name</span>
                                </button>
                            </form>
                            </br>
                            <form name="update_avatar" id="avatarForm" role="form" ng-submit="updateUserAvatar()">
                                <div pg-form-group class="form-group form-group-default required">
                                    <label>Profile Picture </label>
                                    <input name="file" type="file" value="upload" id="fileButton" accept="image/*" ng-model="user.avatar"/>
                                </div>
                                <button class="btn btn-complete"
                                        type="submit"
                                        ladda="uploadingAvatar"
                                        data-style="expand-right">
                                    <span ng-show="!uploadingAvatar"> Submit </span>
                                    <span ng-show="uploadingAvatar"> Uploading Picture</span>
                                    </button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default" ng-if="superUser == true">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a class="collapsed" ng-class="{collapsed:!collapseThree}" ng-click="collapseThree=!collapseThree" aria-expanded="false" aria-controls="collapseThree">
                               Add coordinator
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree" ng-class="{in:collapseThree}" >
                        <div class="panel-body">
                            <form name="add-cordinator" id="addCoordinatorForm" role="form" ng-submit="addCoordinator(staff)">
                                <div pg-form-group class="form-group form-group-default required ">
                                    <label>Coordinator Name</label>
                                    <input type="text" class="form-control" ng-model="staff.name" required>
                                </div>
                                <div pg-form-group class="form-group form-group-default required ">
                                    <label>Coordinator ID</label>
                                    <input type="text" class="form-control" ng-model="staff.id" required>
                                </div>
                                <button class="btn btn-complete"

                                        type="submit"
                                        ladda="updatingName"
                                        data-style="expand-right">
                                    <span ng-show="!coordinatorAdded">Submit</span>
                                    <span ng-show="coordinatorAdded">Changing Name</span>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
<div class=" full-width">
    <div class="register-container m-b-10 clearfix">
        <div class="inline pull-left">
            <img src="assets/img/teem_icon.png" alt="" class="m-t-5 " data-src="assets/img/teem_icon.png" ui-jq="unveil" data-src-retina="assets/img/teem_icon_2x.png" width="60" height="60">
        </div>
        <div class="col-md-10 m-t-15">
            <p class="hinted-text small inline ">No part of this website or any of its contents may be reproduced, copied, modified or adapted, without the prior written consent of the author, unless otherwise indicated for stand-alone materials.</p>
        </div>
    </div>
</div>
<!-- START OVERLAY -->
<div class="overlay hide" data-pages="search">
    <!-- BEGIN Overlay Content !-->
    <div class="overlay-content has-results m-t-20">
        <!-- BEGIN Overlay Header !-->
        <div class="container-fluid">
            <!-- BEGIN Overlay Logo !-->
            <img class="overlay-brand" src="assets/img/logo.png" alt="logo" data-src="assets/img/logo.png" ui-jq="unveil" data-src-retina="assets/img/logo_2x.png" width="78" height="22">
            <!-- END Overlay Logo !-->
            <!-- BEGIN Overlay Close !-->
            <a href="" class="close-icon-light overlay-close text-black fs-16">
                <i class="pg-close"></i>
            </a>
            <!-- END Overlay Close !-->
        </div>
        <!-- END Overlay Header !-->
        <div class="container-fluid">
            <!-- BEGIN Overlay Controls !-->
            <input id="overlay-search" class="no-border overlay-search bg-transparent" placeholder="Search..." autocomplete="off" spellcheck="false">
            <br>
            <div class="inline-block">
                <div class="checkbox right">
                    <input id="checkboxn" type="checkbox" value="1" checked="checked">
                    <label for="checkboxn"><i class="fa fa-search"></i> Search within page</label>
                </div>
            </div>
            <div class="inline-block m-l-10">
                <p class="fs-13">Press enter to search</p>
            </div>
            <!-- END Overlay Controls !-->
        </div>
        <!-- BEGIN Overlay Search Results, This part is for demo purpose, you can add anything you like !-->
        <div class="container-fluid">
            <span>
                <strong>suggestions :</strong>
            </span>
            <span id="overlay-suggestions"></span>
            <br>
            <div class="search-results m-t-40">
                <p class="bold">Pages Search Results</p>
                <div class="row">
                    <div class="col-md-6">
                        <!-- BEGIN Search Result Item !-->
                        <div class="">
                            <!-- BEGIN Search Result Item Thumbnail !-->
                            <div class="thumbnail-wrapper d48 circular bg-success text-white inline m-t-10">
                                <div>
                                    <img width="50" height="50" src="assets/img/profiles/avatar.jpg" data-src="assets/img/profiles/avatar.jpg" ui-jq="unveil" data-src-retina="assets/img/profiles/avatar2x.jpg" alt="">
                                </div>
                            </div>
                            <!-- END Search Result Item Thumbnail !-->
                            <div class="p-l-10 inline p-t-5">
                                <h5 class="m-b-5"><span class="semi-bold result-name">ice cream</span> on pages</h5>
                                <p class="hint-text">via john smith</p>
                            </div>
                        </div>
                        <!-- END Search Result Item !-->
                        <!-- BEGIN Search Result Item !-->
                        <div class="">
                            <!-- BEGIN Search Result Item Thumbnail !-->
                            <div class="thumbnail-wrapper d48 circular bg-success text-white inline m-t-10">
                                <div>T</div>
                            </div>
                            <!-- END Search Result Item Thumbnail !-->
                            <div class="p-l-10 inline p-t-5">
                                <h5 class="m-b-5"><span class="semi-bold result-name">ice cream</span> related topics</h5>
                                <p class="hint-text">via pages</p>
                            </div>
                        </div>
                        <!-- END Search Result Item !-->
                        <!-- BEGIN Search Result Item !-->
                        <div class="">
                            <!-- BEGIN Search Result Item Thumbnail !-->
                            <div class="thumbnail-wrapper d48 circular bg-success text-white inline m-t-10">
                                <div><i class="fa fa-headphones large-text "></i>
                                </div>
                            </div>
                            <!-- END Search Result Item Thumbnail !-->
                            <div class="p-l-10 inline p-t-5">
                                <h5 class="m-b-5"><span class="semi-bold result-name">ice cream</span> music</h5>
                                <p class="hint-text">via pagesmix</p>
                            </div>
                        </div>
                        <!-- END Search Result Item !-->
                    </div>
                    <div class="col-md-6">
                        <!-- BEGIN Search Result Item !-->
                        <div class="">
                            <!-- BEGIN Search Result Item Thumbnail !-->
                            <div class="thumbnail-wrapper d48 circular bg-info text-white inline m-t-10">
                                <div><i class="fa fa-facebook large-text "></i>
                                </div>
                            </div>
                            <!-- END Search Result Item Thumbnail !-->
                            <div class="p-l-10 inline p-t-5">
                                <h5 class="m-b-5"><span class="semi-bold result-name">ice cream</span> on facebook</h5>
                                <p class="hint-text">via facebook</p>
                            </div>
                        </div>
                        <!-- END Search Result Item !-->
                        <!-- BEGIN Search Result Item !-->
                        <div class="">
                            <!-- BEGIN Search Result Item Thumbnail !-->
                            <div class="thumbnail-wrapper d48 circular bg-complete text-white inline m-t-10">
                                <div><i class="fa fa-twitter large-text "></i>
                                </div>
                            </div>
                            <!-- END Search Result Item Thumbnail !-->
                            <div class="p-l-10 inline p-t-5">
                                <h5 class="m-b-5">Tweats on<span class="semi-bold result-name"> ice cream</span></h5>
                                <p class="hint-text">via twitter</p>
                            </div>
                        </div>
                        <!-- END Search Result Item !-->
                        <!-- BEGIN Search Result Item !-->
                        <div class="">
                            <!-- BEGIN Search Result Item Thumbnail !-->
                            <div class="thumbnail-wrapper d48 circular text-white bg-danger inline m-t-10">
                                <div><i class="fa fa-google-plus large-text "></i>
                                </div>
                            </div>
                            <!-- END Search Result Item Thumbnail !-->
                            <div class="p-l-10 inline p-t-5">
                                <h5 class="m-b-5">Circles on<span class="semi-bold result-name"> ice cream</span></h5>
                                <p class="hint-text">via google plus</p>
                            </div>
                        </div>
                        <!-- END Search Result Item !-->
                    </div>
                </div>
            </div>
        </div>
        <!-- END Overlay Search Results !-->
    </div>
    <!-- END Overlay Content !-->
</div>
<!-- END OVERLAY -->