<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Validación</title>
</head>
<body>
<div class="container-fluid container-fixed-lg">
    <!-- START PANEL -->
    <div class="panel panel-transparent">
        <div class="panel-heading">
            <div class="panel-title">Verificación de Usuario
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-5">
                    <p class="small hint-text"> En la aplicación, navegue a la sección de ajustes y oprima el botón de "¡Verifica tu identidad!
                        <br> y luego mantenga oprimido la opción "Verificación en el C4"</p>
                    <div ng-if="selUser == null">
                        <h3>Ciudadanos que han solicitado ser verificados</h3>
                        <p>Organizados por nombre.
                        </p>
                    </div>
                    <div ng-repeat="user in users" ng-if="selUser == null">
                        <button class="b-a b-grey padding-10 btn btn-block  m-b-5" ng-click="setUser(user)">
                            <div class="profile-img-wrapper m-t-5 inline ">
                                <img width="35" height="35" ui-jq="unveil" data-src-retina="{{user.avatar}}" data-src="{{user.avatar}}" alt="">
                                <div class="chat-status available">
                                </div>
                            </div>
                            <div class="inline m-l-10 text-black">
                                <p class="m-t-5">{{user.name}}
                                    <br>{{user.email}}</p>
                            </div>
                        </button>
                    </div>

                    <form id="form-work" class="form-horizontal" role="form" autocomplete="off" name="userId" novalidate ng-if="selUser != null">
                        <div class="form-group">
                            <label for="fname" class="col-sm-3 control-label">Nombre</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="fname" placeholder="Nombre Completo" name="name" ng-class="{'error': userId.name.$invalid && !userId.name.$pristine}" ng-model="userId_.name" required>
                                <label class="error" for="fname" ng-show="userId.name.$invalid && !userId.name.$pristine">Este campo es requerido.</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Sexo</label>
                            <div class="col-sm-9">
                                <div class="radio radio-success">
                                    <input type="radio" value="male" name="gender" id="male" ng-model="userId_.gender">
                                    <label for="male">Masculino</label>
                                    <input type="radio" checked="checked" value="female" name="gender" id="female" ng-model="userId_.gender">
                                    <label for="female">Femenino</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Identificación</label>
                            <div class="col-sm-9">
                                <div class="radio radio-success">
                                    <input type="radio" value="ife" name="optionId" id="ife" ng-model="userId_.id">
                                    <label for="ife">IFE</label>
                                    <input type="radio" checked="checked" value="pasaporte" name="optionId" id="pasaporte" ng-model="userId_.id">
                                    <label for="pasaporte">Pasaporte</label>
                                    <input type="radio" checked="checked" value="licencia" name="optionId" id="licencia" ng-model="userId_.id">
                                    <label for="licencia">Licencia</label>
                                </div>
                                <div class="row">
                                    <div class="col-sm-9">
                                        <input type="text" name="idNumber" placeholder="Número de Identificación" ng-model="userId_.idNumber" class="form-control" ng-class="{'error': userId.idNumber.$invalid && !userId.idNumber.$pristine}" required>
                                        <label class="error" for="place" ng-show="userId.idNumber.$invalid && !userId.idNumber.$pristine">Este campo es requerido.</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-sm-9">
                                <button class="btn btn-success" type="submit" ng-disabled="userId.$invalid" ng-click="processVer(userId_)">Submit</button>
                                <button class="btn btn-default"><i class="pg-close"></i> Clear</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- END PANEL -->
</div>
</body>
</html>